<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3">{{ 'home.checkin.list' | translate }}</h1></div>
<div>
    <div class="pull-right m-r-xxl headpadd">
        <button ui-sref="app.home.checkin.edit" type="button" class="btn btn-sm btn-primary btn-addon">
            <i class="fa fa-plus"></i>{{ 'home.create' | translate }}
        </button>
        <button type="button" class="btn btn-sm btn-danger btn-addon" ng-click="delete()">
            <i class="fa fa-trash-o"></i>{{ 'home.delete' | translate }}
        </button>
    </div>
    <div class="pull-right m-r-sm headpadd">
        <form>
            <div class="input-group m-r-sm">
                <input type="text" ng-model="search" class="form-control input-sm bg-light no-border rounded padder" placeholder="{{ 'common.searchUser' | translate }}">
                <span class="input-group-btn" style="width: auto">
                <button type="submit" class="btn btn-sm bg-light rounded" ng-click="onPageSizeChanged()"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
    </div>
    <div class="pull-right m-r-sm headpadd">
        <select class="input-sm form-control" ng-model="pageSize" ng-change="onPageSizeChanged()">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
        </select>
    </div>
</div>

<div class="panel panel-default">
    <div class="line b-b" style="margin: 0"></div>
    <div class="panel-body">
        <div ng-style="{height:app.navHeight-165+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
    </div>
</div>

