<div>
    <form name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading titlefixed">
                <strong>{{ 'home.vip.item.setting' | translate }}</strong>
            </div>
            <div class="panel-body paddingtop">
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="padding-top: 11px">{{ 'home.vip.item.give' | translate }}</label>
                    <div class="col-sm-9">
                        <tags-input class="bootstrap" ng-model="item.login" add-on-space="true" add-on-paste="true" allowed-tags-pattern="^[0-9|\.]+$" placeholder="{{ 'home.vip.item.addMultiple' | translate }}" min-length="1"></tags-input>
                    </div>
                    <div class="col-sm-1" style="padding-top: 4px"><button class="btn btn-success" ng-click="save('login')">{{ 'home.save' | translate }}</button></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" style="padding-top: 11px">{{ 'home.vip.item.rebatejb' | translate }}</label>
                    <div class="col-sm-9">
                        <tags-input class="bootstrap" ng-model="item.recharge_jb" add-on-space="true" add-on-paste="true" allowed-tags-pattern="^[0-9]+$" placeholder="{{ 'home.vip.item.addPercentage' | translate }}" min-length="1"></tags-input>
                    </div>
                    <div class="col-sm-1" style="padding-top: 4px"><button class="btn btn-success" ng-click="save('recharge_jb')">{{ 'home.save' | translate }}</button></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" style="padding-top: 11px">{{ 'home.vip.item.rebatedbj' | translate }}</label>
                    <div class="col-sm-9">
                        <tags-input class="bootstrap" ng-model="item.recharge_dbj" add-on-space="true" add-on-paste="true" allowed-tags-pattern="^[0-9]+$" placeholder="{{ 'home.vip.item.addPercentage' | translate }}" min-length="1"></tags-input>
                    </div>
                    <div class="col-sm-1" style="padding-top: 4px"><button class="btn btn-success" ng-click="save('recharge_dbj')">{{ 'home.save' | translate }}</button></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" style="padding-top: 11px">{{ 'home.vip.item.turntable' | translate }}</label>
                    <div class="col-sm-9">
                        <tags-input class="bootstrap" ng-model="item.turntable" add-on-space="true" add-on-paste="true" allowed-tags-pattern="^[0-9]+$" placeholder="{{ 'home.vip.item.addTimes' | translate }}" min-length="1"></tags-input>
                    </div>
                    <div class="col-sm-1" style="padding-top: 4px"><button class="btn btn-success" ng-click="save('turntable')">{{ 'home.save' | translate }}</button></div>
                </div>

            </div>
            <footer class="panel-footer text-right bg-light lter">
                <!--<div>-->
                    <!--<button type="submit" class="btn btn-success" ng-click="save()">保存</button>-->
                <!--</div>-->
            </footer>
        </div>
    </form>

</div>