<div ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-51}}+'px', size:'8px'}">
    <form name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ 'home.vip.cond.setting' | translate }}</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'home.vip.cond.recharge' | translate }}</label>
                    <div class="col-sm-9">
                        <tags-input class="bootstrap" ng-model="tags" add-on-space="true" add-on-paste="true" allowed-tags-pattern="^[0-9]+$" placeholder="添加达成不同等级的充值数(添加顺序对应相应等级)" min-length="1"></tags-input>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <footer class="panel-footer text-right bg-light lter">
                <div>
                    <button type="submit" class="btn btn-success" ng-click="save()">{{ 'home.save' | translate }}</button>
                </div>
            </footer>
        </div>
    </form>

</div>