<div>
    <form name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading titlefixed">
                <strong>{{ 'home.rankset.setting' | translate }}</strong>
            </div>
            <div class="panel-body paddingtop">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code>{{ 'home.rankset.userID' | translate }}</label>

                    <div class="col-sm-9">
                        <div class="input-group" style="max-width: 360px;">
                            <input type="text" class="form-control" placeholder="{{ 'home.rankset.userID' | translate }}" ng-model="user.userId" ng-required="true">
                            <div class="input-group-btn dropdown" drop-down-table>
                                <div type="button" class="btn btn-default" ng-bind="nick||'用户名'"></div><div type="button" class="btn btn-default">{{ 'home.rankset.search' | translate }} <span class="caret"></span></div>
                                <ul class="dropdown-menu pull-right w-xxl">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm btn-rounded" placeholder="{{ 'home.sendDak.searchUserName' | translate }}" ng-model="keyword">
                                        <span class="input-group-btn">
                                              <span class="btn btn-default btn-sm btn-rounded" ng-click="searchUser(keyword)"><i class="fa fa-search"></i></span>
                                            </span>
                                    </div>
                                    <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>{{ 'home.rankset.userObjectID' | translate }}</th>
                                            <th>{{ 'home.rankset.userID' | translate }}</th>
                                            <th>{{ 'home.rankset.userName' | translate }}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in usersInfo.rows" ng-click="selectUser($event)" st-select-mode="single">
                                            <td>{{row._id}}</td>
                                            <td>{{row.uid}}</td>
                                            <td>{{row.nick}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </ul>
                            </div><!-- /btn-group -->
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'home.rankset.VIPLevel' | translate }}</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control w" placeholder="{{ 'home.rankset.VIPLevel' | translate }}" min="0" ng-pattern="/^[0-9]*$/" ng-model="user.member.level">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'home.rankset.highestIngot' | translate }}</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control w" placeholder="元宝数" min="0" ng-pattern="/^[0-9]*$/" ng-model="user.record.win_tb">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'home.rankset.highestGold' | translate }}</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control w" placeholder="金币数" min="0" ng-pattern="/^[0-9]*$/" ng-model="user.record.win_jb">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'home.rankset.highestDuoBaoJuan' | translate }}</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control w" placeholder="夺宝卷数" min="0" ng-pattern="/^[0-9]*$/" ng-model="user.record.win_dbj">
                    </div>
                    <div class="col-sm-1"></div>
                </div>


            </div>


            <footer class="panel-footer text-right bg-light lter">
                <div style="max-width: 750px">
                    <button type="submit" class="btn btn-success" ng-click="!formValidate.$invalid&&save()">{{ 'home.setting' | translate }}</button>
                </div>
            </footer>
        </div>
    </form>

</div>