<div>
    <div class="bg-light lter b-b wrapper">
        <div class="pull-right">
            <button type="button" class="btn btn-sm btn-primary btn-addon" ng-click="send()">
                <i class="fa fa-plus"></i>{{ 'home.sendnotice.title' | translate }}
            </button>
            <button type="button" class="btn btn-sm btn-success btn-addon" ng-click="refresh()">
                <i class="fa fa-refresh"></i>{{ 'home.sendnotice.refresh' | translate }}
            </button>
        </div>

        <h1 class="m-n font-thin h3">{{ 'home.sendnotice.title' | translate }}</h1>
    </div>
    <div ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-100}}+'px', size:'8px'}">
        <div class="panel panel-default">
            <div style="margin-top: 20px">
                <form name="formValidate" class="form-horizontal form-validation">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ 'home.sendnotice.msgType.type' | translate }}</label>

                        <div class="col-sm-9">
                            <select class="form-control w-sm" ng-model="notice.type" ng-change="changeType()">
                                <option value="">{{ 'home.sendnotice.msgType.opts1' | translate }}</option>
                                <option value="0">{{ 'home.sendnotice.msgType.opts2' | translate }}</option>
                                <option value="1">{{ 'home.sendnotice.msgType.opts3' | translate }}</option>
                            </select>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="form-group" ng-if="notice.type=='0'">
                        <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code>{{ 'home.sendnotice.list.header.count' | translate }}</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control w-sm" placeholder="次数(正整数)" ng-model="selt.count" min="1" ng-pattern="/^[0-9]*$/" ng-required="true">
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="form-group" ng-if="notice.type=='0'">
                        <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code>{{ 'home.sendnotice.seconds' | translate }}</label>
                        <div class="col-sm-9">
                            <input type="number" class="form-control w-sm" placeholder="秒数(正整数)" ng-model="selt.times" min="1" ng-pattern="/^[0-9]*$/" ng-required="true">
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="form-group" ng-if="notice.type=='1'">
                        <label class="col-sm-2 control-label">{{ 'home.sendnotice.addTimes' | translate }}</label>
                        <div class="col-sm-9">
                            <div class="dropdown w">
                                <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="{{selt.addDate | date:'yyyy-MM-dd HH:mm'}}" onfocus="this.blur()">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    </div>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <datetimepicker ng-model="selt.addDate" on-set-time="endDateOnSetTimeAddDate()" datetimepicker-config="{ startView:'day', minView:'minute', dropdownSelector:'#dropdown1', renderOn:'valid-startDate' }"> </datetimepicker>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="form-group" ng-if="notice.type=='1'">
                        <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code>{{ 'home.sendnotice.timesList' | translate }}</label>

                        <div class="col-sm-9">
                            <tags-input class="bootstrap" ng-model="notice.times" placeholder="时间" min-length="1" on-tag-added="onAddDate()"></tags-input>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code>{{ 'home.sendnotice.message' | translate }}</label>

                        <div class="col-sm-9">
                            <textarea class="form-control" style="max-width: 360px;" rows="4" style="resize: none;" placeholder="" ng-model="notice.message" ng-required="true"></textarea>
                        </div>
                        <div class="col-sm-1"></div>
                    </div>
                    <!--<div class="panel panel-default">-->
                    <!--&lt;!&ndash;<div class="panel-heading">&ndash;&gt;-->
                    <!--&lt;!&ndash;<strong>发送公告</strong>&ndash;&gt;-->
                    <!--&lt;!&ndash;</div>&ndash;&gt;-->
                    <!--<div class="panel-body">-->


                    <!--</div>-->
                    <!--<footer class="panel-footer text-right bg-light lter">-->
                    <!--<div style="max-width: 750px">-->
                    <!--<button type="submit" class="btn btn-success" ng-click="!formValidate.$invalid&&send()">发送公告</button>-->
                    <!--</div>-->
                    <!--</footer>-->
                    <!--</div>-->
                </form>
            </div>

            <div class="panel-body">
                <div ng-style="{height:app.navHeight-350+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
            </div>
        </div>
    </div>

</div>