<!--<div class="bg-light lter b-b wrapper-md">-->
    <!--<h1 class="m-n font-thin h3">总览</h1>-->
<!--</div>-->
<div class="wrapper-md" ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-51}}+'px', size:'8px'}">
    建设中...
</div>


<!--<div class="hbox hbox-auto-xs hbox-auto-sm">-->
    <!--&lt;!&ndash; main &ndash;&gt;-->
    <!--<div class="col">-->
        <!--<div class="wrapper-md" ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-51}}+'px', size:'8px'}">-->
            <!--&lt;!&ndash; stats &ndash;&gt;-->
            <!--<div class="row">-->
                <!--<div class="col-sm-6">-->
                    <!--<a class="panel no-border">-->
                        <!--<div class="panel-heading bg-primary lt">-->
                            <!--<div class="m-sm">-->
                                <!--<span class="h4 text-white">用户统计</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="hbox bg-primary bg">-->
                            <!--<div class="col wrapper">-->
                                <!--<span>累计总数</span>-->
                                <!--<div class="h1 text-info font-thin">{{stat.user_total||0}}</div>-->
                            <!--</div>-->
                            <!--<div class="col wrapper bg-info">-->
                                <!--<span>昨日新增</span>-->
                                <!--<div class="h1 text-warning font-thin">{{stat.user_yesterday||0}}</div>-->
                            <!--</div>-->
                            <!--<div class="col wrapper bg-success">-->
                                <!--<span>今日新增</span>-->
                                <!--<div class="h1 text-warning font-thin">{{stat.user_today||0}}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="panel-footer bg-light lter wrapper">-->
                            <!--<div class="row" style="text-align: center;">-->
                                <!--<div class="col-xs-4">-->
                                    <!--<small class="text-muted block">游客</small>-->
                                    <!--<span class="text-md">{{stat.user_guest||0}}</span>-->
                                <!--</div>-->
                                <!--<div class="col-xs-4">-->
                                    <!--<small class="text-muted block">手机</small>-->
                                    <!--<span class="text-md">{{stat.user_mobile||0}}</span>-->
                                <!--</div>-->
                                <!--<div class="col-xs-4">-->
                                    <!--<small class="text-muted block">其它</small>-->
                                    <!--<span class="text-md">{{(stat.user_wechat+stat.user_qq)||0}}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
                <!--<div class="col-sm-6">-->
                    <!--<a class="panel no-border">-->
                        <!--<div class="panel-heading bg-primary lt">-->
                            <!--<div class="m-sm">-->
                                <!--<span class="h4 text-white">充值统计</span>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="hbox bg-primary bg">-->
                            <!--<div class="col wrapper">-->
                                <!--<span>累计充值</span>-->
                                <!--<div class="h1 text-info font-thin">{{stat.recharge_total*0.01||0}}</div>-->
                            <!--</div>-->
                            <!--<div class="col wrapper bg-info">-->
                                <!--<span>昨日充值</span>-->
                                <!--<div class="h1 text-warning font-thin">{{stat.recharge_yesterday*0.01||0}}</div>-->
                            <!--</div>-->
                            <!--<div class="col wrapper bg-success">-->
                                <!--<span>今日充值</span>-->
                                <!--<div class="h1 text-warning font-thin">{{stat.recharge_today*0.01||0}}</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="panel-footer bg-light lter wrapper">-->
                            <!--<div class="row" style="text-align: center;">-->
                                <!--<div class="col-xs-4">-->
                                    <!--<small class="text-muted block">总笔数</small>-->
                                    <!--<span class="text-md">{{stat.recharge_order_total||0}}</span>-->
                                <!--</div>-->
                                <!--<div class="col-xs-4">-->
                                    <!--<small class="text-muted block">有效笔数</small>-->
                                    <!--<span class="text-md">{{stat.recharge_order_valid||0}}</span>-->
                                <!--</div>-->
                                <!--<div class="col-xs-4">-->
                                    <!--<small class="text-muted block">无效笔数</small>-->
                                    <!--<span class="text-md">{{stat.recharge_order_invalid||0}}</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; / stats &ndash;&gt;-->

            <!--<div class="pull-right">-->
                <!--<div class="input-group m-r-sm" style="width: 185px;margin-top: 10px;">-->
                    <!--<input date-range-picker type="text" class="form-control" ng-model="search.date" options="dateOptions" placeholder="起始时间和结束时间" style="position: relative;height: 30px"/>-->
                    <!--<i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;right: 8px;top:8px;z-index:9999;cursor: pointer;" onclick="$(this).parent().find('input').click();"></i>-->
                <!--</div>-->
            <!--</div>-->
            <!--<uib-tabset class="tab-container">-->
                <!--<uib-tab heading="平台数据">-->
                    <!--<div style="height:1000px;">-->
                        <!--<div class="col-lg-4" style="width: 530px;height:300px;" ng-repeat="item in lineOptions">-->
                            <!--<ng-echarts class="col-md-6 echarts" ec-config="lineConfig" ec-option="item" style="width: 500px;height:300px;"></ng-echarts>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</uib-tab>-->
                <!--<uib-tab heading="游戏数据">-->
                    <!--建设中...-->
                <!--</uib-tab>-->
            <!--</uib-tabset>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; / main &ndash;&gt;-->

<!--</div>-->

