<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3">{{'activity.proplist.PropList'|translate}}</h1></div>
<div>
    <div class="pull-right m-r-sm headpadd">
        <button ui-sref="app.activity.prop.edit" type="button" class="btn m-b-xs btn-sm btn-primary btn-addon">
            <i class="fa fa-plus"></i>{{'activity.proplist.create'| translate}}
        </button>
        <button type="button" class="btn m-b-xs btn-sm btn-danger btn-addon" ng-click="delete()">
            <i class="fa fa-trash-o"></i>{{'activity.proplist.delete'| translate}}
        </button>
    </div>
    <div class="pull-right m-r-sm headpadd">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
</div>

<div>
    <div class="panel panel-default">
        <div class="line b-b" style="margin: 0"></div>
        <div class="panel-body">
            <div ng-style="{height:app.navHeight-165+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
        </div>
    </div>
</div>