<div>
    <div ui-view class="fade-in-down"></div>
    <form ng-show="$state.is('app.activity.forum.edit')" name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading titlefixed">
                <a class="btn btn-default" style="border-color: transparent; background-color: transparent; box-shadow: none; display: inline;padding:6px" ui-sref="app.activity.forum.list"><i class="glyphicon glyphicon-chevron-left"></i></a><strong>{{'activity.forumedit.EditInformation'|translate}}</strong>
            </div>
            <div class="panel-body paddingtop">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.forumedit.cover'|translate}}</label>

                    <div class="col-sm-9">
                        <a ui-sref=".logo"><img width="320" height="200" ng-src="{{forum.logo}}" onerror="this.src='apps/common/img/logo.jpg'"/></a>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.forumedit.code'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'activity.forumedit.code'|translate}}" ng-model="forum.code">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code>{{'activity.forumedit.title'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'activity.forumedit.title'|translate}}" ng-model="forum.title" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code>{{'activity.forumedit.SubordinateApplication'|translate}}</label>
                    <div class="col-sm-9 w-auto">
                        <select class="form-control w-sm" ng-model="forum.app" ng-options="option._id as option.name for option in apps" ng-required="true">
                            <option value="">{{'activity.forumedit.NoApplication'|translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.forumedit.DisplayOrder'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="{{'activity.forumedit.DisplayOrder'|translate}}" ng-model="forum.order" min="0" ng-pattern="/^[0-9]*$/">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.forumedit.label'|translate}}</label>

                    <div class="col-sm-9">
                        <tags-input class="bootstrap" ng-model="forum.tags" add-on-space="true" add-on-paste="true" placeholder="{{'activity.forumedit.label'|translate}}" min-length="1"></tags-input>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.forumedit.describe' | translate}}</label>    <!--描述-->
                    <div class="col-sm-9">
                        <div class="ueditor" ng-model="forum.content" config="ueditor_config" ready="onUeditor"></div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>

            <footer class="panel-footer text-right bg-light lter">
                <button type="submit" class="btn btn-success" ng-click="!formValidate.$invalid&&save()" >{{'activity.forumedit.save'|translate}}</button>
            </footer>
        </div>
    </form>

</div>