<div ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-51}}+'px', size:'8px'}">
    <form name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>分配道具</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code>用户ID</label>

                    <div class="col-sm-9">
                        <div class="input-group" style="max-width: 360px;">
                            <input type="text" class="form-control" placeholder="用户ID" ng-model="depot.userId" ng-required="true">
                            <div class="input-group-btn dropdown" drop-down-table>
                                <div type="button" class="btn btn-default" ng-bind="nick||'用户名'"></div><div type="button" class="btn btn-default">搜索 <span class="caret"></span></div>
                                <ul class="dropdown-menu pull-right w-xxl">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm btn-rounded" placeholder="搜索用户名" ng-model="keyword">
                                        <span class="input-group-btn">
                                              <span class="btn btn-default btn-sm btn-rounded" ng-click="searchUser(keyword)"><i class="fa fa-search"></i></span>
                                            </span>
                                    </div>
                                    <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                                        <thead>
                                        <tr>
                                            <th>用户ObjectID</th>
                                            <th>用户ID</th>
                                            <th>用户名</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in usersInfo.rows" ng-click="selectUser($event)" st-select-mode="single">
                                            <td>{{row._id}}</td>
                                            <td>{{row.uid}}</td>
                                            <td>{{row.nick}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </ul>
                            </div><!-- /btn-group -->
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">道具</label>
                    <div class="col-sm-9 w-auto">
                        <select class="form-control" style="min-width: 200px; width: auto" ng-model="depot.prop" ng-options="option._id as option.name for option in props" ng-required="true">
                            <option value="">请选择道具</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">数量</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control w" placeholder="数量" min="1" ng-pattern="/^[0-9]*$/" ng-model="depot.amount">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">有效时间</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control w" placeholder="过期时间(单位:毫秒)" min="0" ng-pattern="/^[0-9]*$/" ng-model="depot.expire">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

            </div>


            <footer class="panel-footer text-right bg-light lter">
                <div style="max-width: 750px">
                    <button type="submit" class="btn btn-success" ng-click="!formValidate.$invalid&&save()">分配道具</button>
                </div>
            </footer>
        </div>
    </form>

</div>