<div ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-51}}+'px', size:'8px'}">
    <div ui-view class="fade-in-down"></div>
    <form ng-show="$state.is('app.activity.aty.edit')" name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a class="btn btn-default" style="border-color: transparent; background-color: transparent; box-shadow: none; display: inline;padding:6px" ui-sref="app.activity.aty.list" ><i class="glyphicon glyphicon-chevron-left"></i></a><strong>{{'activity.atyedit.EditInformation'|translate}}</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.atyedit.cover'|translate}}</label>

                    <div class="col-sm-9">
                        <div >
                            <label>{{'activity.atyedit.cutout'|translate}}</label>：<input type="number" style="width: 80px" ng-model="cropperObj.logo.cropWidth">&nbsp：&nbsp<input type="number" style="width: 80px" ng-model="cropperObj.logo.cropHeight">
                        </div>
                        <a ui-sref=".logo" ng-click="goLogo('logo')"><img width="{{cropperObj.logo.cropWidth}}" height="{{cropperObj.logo.cropHeight}}" ng-src="{{activity.logo}}" img-Load="loadImg($event)" onerror="this.src='apps/common/img/logo.jpg'"/></a>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.atyedit.picturetitle'|translate}}</label>

                    <div class="col-sm-9">
                        <div>
                            <label >{{'activity.atyedit.cutout'|translate}}</label>：<input type="number" style="width: 80px" ng-model="cropperObj.imgtitle.cropWidth">&nbsp：&nbsp<input type="number" style="width: 80px" ng-model="cropperObj.imgtitle.cropHeight">
                        </div>
                        <a ui-sref=".logo" ng-click="goLogo('imgtitle')"><img width="{{cropperObj.imgtitle.cropWidth}}" height="{{cropperObj.imgtitle.cropHeight}}" ng-src="{{activity.imgtitle}}" img-Load="loadImg2($event)" onerror="this.src='apps/common/img/logo.jpg'"/></a>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.atyedit.section'|translate}}</label>
                    <div class="col-sm-9 w-auto">
                        <select class="form-control w-sm" ng-model="activity.forum" ng-options="option._id as option.title for option in forums" ng-change="onChanged()">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code>{{'activity.atyedit.SubordinateApplication'|translate}}</label>
                    <div class="col-sm-9 w-auto">
                        <select class="form-control w-sm" ng-model="activity.app" ng-options="option._id as option.name for option in apps" ng-required="true">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.atyedit.ActivityDisplayTime'|translate}}</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-4 w">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown1" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{activity.openDate | date:'yyyy-MM-dd HH:mm'}}" onfocus="this.blur()">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu">
                                        <datetimepicker ng-model="activity.openDate" before-render="onBeforeRenderOpenDate($dates)" on-set-time="endDateOnSetTimeOpenDate()" datetimepicker-config="{ startView:'day', minView:'minute', dropdownSelector:'#dropdown1', renderOn:'valid-openDate' }"> </datetimepicker>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 w">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{activity.closeDate | date:'yyyy-MM-dd HH:mm'}}" onfocus="this.blur()" ng-disabled="!activity.openDate">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" ng-if="activity.openDate">
                                        <datetimepicker ng-model="activity.closeDate" before-render="onBeforeRenderCloseDate($view,$dates)" on-set-time="endDateOnSetTimeCloseDate()"  datetimepicker-config="{ startView:'day', minView:'minute', dropdownSelector:'#dropdown2', renderOn:'valid-closeDate' }"> </datetimepicker>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.atyedit.ActivityStartStopTime'|translate}}</label>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-md-4 w">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{activity.startDate | date:'yyyy-MM-dd HH:mm'}}" onfocus="this.blur()" ng-disabled="!activity.openDate">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" ng-if="activity.openDate">
                                        <datetimepicker ng-model="activity.startDate" before-render="onBeforeRenderStartDate($view,$dates)" datetimepicker-config="{ startView:'day', minView:'minute', dropdownSelector:'#dropdown3', renderOn:'valid-startDate' }"> </datetimepicker>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-4 w">
                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="dropdown4" role="button" data-toggle="dropdown">
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="{{activity.endDate | date:'yyyy-MM-dd HH:mm'}}" onfocus="this.blur()" ng-disabled="!activity.closeDate">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" ng-if="activity.closeDate">
                                        <datetimepicker ng-model="activity.endDate" before-render="onBeforeRenderEndDate($view,$dates)" datetimepicker-config="{ startView:'day', minView:'minute', dropdownSelector:'#dropdown4', renderOn:'valid-endDate' }"> </datetimepicker>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.atyedit.code'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'activity.atyedit.code'|translate}}" ng-model="activity.code">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code>{{'activity.atyedit.title'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'activity.atyedit.title'|translate}}" ng-model="activity.title" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.atyedit.subtitle'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'activity.atyedit.subtitle'|translate}}" ng-model="activity.subhead">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.atyedit.DisplayOrder'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="{{'activity.atyedit.DisplayOrder'|translate}}" ng-model="activity.order" min="0" ng-pattern="/^[0-9]*$/">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.atyedit.PopularityDegree'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="{{'activity.atyedit.PopularityDegree'|translate}}" ng-model="activity.hot" min="0" ng-pattern="/^[0-9]*$/">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.atyedit.RecommendationDegree'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="{{'activity.atyedit.RecommendationDegree'|translate}}" ng-model="activity.recommend" min="0" ng-pattern="/^[0-9]*$/">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" >{{'activity.atyedit.label'|translate}}</label>

                    <div class="col-sm-9">
                        <tags-input class="bootstrap" ng-model="activity.tags" add-on-space="true" add-on-paste="true" placeholder="{{'activity.atyedit.label'|translate}}" min-length="1"></tags-input>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.atyedit.JumpAddress'|translate}}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'activity.atyedit.JumpAddress'|translate}}" ng-model="activity.url">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.atyedit.describe'|translate}}</label>
                    <div class="col-sm-9">
                        <div class="m-b-xs">
                            <div class="radio checkbox-inline">
                                <label class="i-checks i-checks-sm" >
                                    <input type="radio" name="pattern" value="0" ng-model="activity.pattern" ng-click="onck()" checked>
                                    <i></i>
                                    {{'activity.atyedit.PureText'|translate}}
                                </label>
                            </div>
                            <div class="radio checkbox-inline">
                                <label class="i-checks i-checks-sm" >
                                    <input type="radio" name="pattern" value="1" ng-model="activity.pattern" ng-click="onck()">
                                    <i></i>
                                    {{'activity.atyedit.FormattedText'|translate}}
                                </label>
                            </div>
                            <div class="radio checkbox-inline">
                                <label class="i-checks i-checks-sm">
                                    <input type="radio" name="pattern" value="2" ng-model="activity.pattern" ng-click="onck()">
                                    <i></i>
                                    html
                                </label>
                            </div>
                        </div>
                        <div class="ueditor" ng-model="activity.content" config="ueditor_config" ready="onUeditor"></div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

            </div>

            <footer class="panel-footer text-right bg-light lter">
                <button type="submit" class="btn btn-success" ng-click="!formValidate.$invalid&&save()" >{{'activity.atyedit.save'|translate}}</button>
            </footer>
        </div>
    </form>

</div>