<div>
    <form name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading titlefixed">
                <strong>{{'activity.gaveprop.AssignProps'|translate}}</strong>
            </div>
            <div class="panel-body paddingtop">
                <div class="form-group">
                    <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code>{{'activity.gaveprop.UserId'|translate}}</label>

                    <div class="col-sm-9">
                        <div class="input-group" style="max-width: 360px;">
                            <input type="text" class="form-control" placeholder="{{'activity.gaveprop.UserId'|translate}}" ng-model="depot.userId" ng-required="true">
                            <div class="input-group-btn dropdown" drop-down-table>
                                <div type="button" class="btn btn-default" ng-bind="nick||'用户名'"></div><div type="button" class="btn btn-default" ng-click="searchUser(depot.userId)">{{'activity.gaveprop.search'|translate}}<span class="caret"></span></div>
                                <ul class="dropdown-menu pull-right w-xxl">
                                    <div class="input-group">
                                        <input type="text" class="form-control input-sm btn-rounded" placeholder="{{'common.search'|translate}}" ng-model="keyword">
                                        <span class="input-group-btn">
                                              <span class="btn btn-default btn-sm btn-rounded" ng-click="searchUser(keyword)"><i class="fa fa-search"></i></span>
                                            </span>
                                    </div>
                                    <table st-table="rowCollectionBasic" class="table table-bordered table-striped" style="margin: 0 0 5px 0">
                                        <thead>
                                        <tr>
                                            <th>{{'activity.gaveprop.UserObjectID'|translate}}</th>
                                            <th>{{'activity.gaveprop.UserID'|translate}}</th>
                                            <th>{{'activity.gaveprop.UserName'|translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in usersInfo.rows.slice(10*(i-1),[10*i])" ng-click="selectUser($event)" st-select-mode="single">
                                            <td>{{row._id}}</td>
                                            <td>{{row.uid}}</td>
                                            <td>{{row.nick}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div ng-if="usersInfo.rows.length > 4" style="text-align: center;">
                                        <i class="glyphicon glyphicon-chevron-left color" style="width: 20%" ng-click="left()"></i>
                                        <span>
                                            <label>{{i}}</label>/
                                            <label>{{psize}}</label>
                                        </span>
                                        <i class="glyphicon glyphicon-chevron-right color" style="width: 20%" ng-click="right()"></i>
                                    </div>
                                </ul>
                            </div><!-- /btn-group -->
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.gaveprop.prop'|translate}}</label>
                    <div class="col-sm-9 w-auto">
                        <select class="form-control" style="min-width: 200px; width: auto" ng-model="depot.prop" ng-options="option._id as option.name for option in props" ng-required="true">
                            <option value="">{{'activity.gaveprop.SelectProps'|translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.gaveprop.quantity'|translate}}</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control w" placeholder="{{'activity.gaveprop.quantity'|translate}}" min="1" ng-pattern="/^[0-9]*$/" ng-model="depot.amount">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'activity.gaveprop.EffectiveTime'|translate}}</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control w" placeholder="{{'common.deadline'|translate}}(单位:毫秒)" min="0" ng-pattern="/^[0-9]*$/" ng-model="depot.expire">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

            </div>


            <footer class="panel-footer text-right bg-light lter">
                <div style="max-width: 750px">
                    <button type="submit" class="btn btn-success" ng-click="!formValidate.$invalid&&save()">{{'activity.gaveprop.AssignProps'|translate}}</button>
                </div>
            </footer>
        </div>
    </form>

</div>