<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3"><i class="fa fa-chevron-left m-r-sm" ng-click="cancel()"></i>{{'search.selectplayer'|translate}}</h1>
</div>

<div class="wrapper-md col-lg-9">
    <div class="row">
        <div class="col-sm-9">
            <div class="list-group">
                <!--搜索-->
                <li class="list-group-item">
                    <div class="input-group p-b-md">
                        <input type="text" class="form-control input-sm btn-rounded" placeholder="{{'common.searchUser'|translate}}" ng-model="keyword">
                        <span class="input-group-btn">
                    <span class="btn btn-default btn-sm btn-rounded" ng-click="search(1)"><i class="fa fa-search"></i></span>
                </span>
                    </div>
                </li>
                <!--loading-->
                <li class="list-group-item" ng-if="moreLoading">
                    <div class="text-center"><img width="30px" src="./apps/common/img/loading.gif"></div>
                </li>
                <!--表格-->
                <li class="list-group-item">
                    <table st-table="rowCollectionBasic" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>{{ 'common.userId' | translate }}</th>
                            <th>{{ 'common.userAccount' | translate }}</th>
                            <th>{{ 'common.userName' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody class="hand">
                        <tr ng-repeat="row in usersInfo.rows" ng-click="selectUser(row)" st-select-mode="single" id="cover">
                            <td>{{row.uid}}</td>
                            <td>{{row.account||row.mobile}}</td>
                            <td>{{row.nick}}</td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li  ng-if="total && pages>1" class="list-group-item">
                    <div style="text-align: center;">
                        <i class="glyphicon glyphicon-chevron-left color hand" style="width: 20%" ng-click="left()"></i>
                        <label>{{page}}</label>/
                        <label>{{pages}}</label>
                        <i class="glyphicon glyphicon-chevron-right color hand" style="width: 20%" ng-click="right()"></i>
                    </div>
                </li>
                <!--保存-->
                <li class="list-group-item text-right">
                    <button type="submit" class="btn btn-danger"
                            ng-click="cancel()">{{'common.cancel'|translate}}
                    </button>
                </li>
            </div>
        </div>
    </div>
</div>
