<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3">{{'player.info.list.info'|translate}}</h1></div>
<div>
    <div class="pull-right m-r-xs headpadd">
        <form>
            <div class="input-group w-md">
                <input type="text" ng-model="search.keyword" class="form-control input-sm bg-light no-border rounded padder" placeholder="{{'player.info.list.search'|translate}}">
                <span class="input-group-btn" style="width: auto">
                    <button type="submit" class="btn btn-sm bg-light rounded" ng-click="onPageSizeChanged()"><i class="fa fa-search"></i></button>
                  </span>
            </div>
        </form>
    </div>
    <div class="pull-right headpadd">
        <div class="input-group m-r-xs" style="width: 185px;">
            <input date-range-picker type="text" class="form-control" ng-model="search.date" options="dateOptions" placeholder="{{'common.times'|translate }}" style="position: relative;height: 30px"/>
            <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;right: 8px;top:8px;z-index:1000;cursor: pointer;" onclick="$(this).parent().find('input').click();"></i>
        </div>
    </div>
    <div class="pull-right m-r-xs headpadd" ng-if="!isSmartDevice">
        <select class="input-sm form-control" ng-model="search.type" ng-change="onPageSizeChanged()">
            <option value="" >{{'player.info.list.type'|translate}}</option>
            <option value="0">{{'player.info.list.tourist'|translate}}</option>
            <option value="1">{{'player.info.list.phone'|translate}}</option>
            <option value="2">{{'player.info.list.wechat'|translate}}</option>
            <option value="3">{{'player.info.list.qq'|translate}}</option>
        </select>
    </div>
    <div class="pull-right m-r-xs headpadd" >
        <select class="input-sm form-control" ng-model="search.active" ng-change="onPageSizeChanged()">
            <option value="">{{'player.info.list.state'|translate}}</option>
            <option value="0">{{'player.info.list.stop'|translate}}</option>
            <option value="1">{{'player.info.list.normal'|translate}}</option>
        </select>
    </div>
    <div class="pull-right m-r-xs headpadd">
        <select class="input-sm form-control" ng-model="search.agent" ng-options="option._id as option.name for option in agents" ng-change="onPageSizeChanged()">
            <option value="">{{'player.info.list.agents'|translate}}</option>
        </select>
    </div>
    <div class="pull-right m-r-xs headpadd" ng-if="!isSmartDevice">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
</div>

<div>
    <div class="panel panel-default">
        <div class="line b-b" style="margin: 0"></div>
        <div class="panel-body">
            <span style="font-size: larger">{{'player.info.list.playerTotal'|translate}}:{{stat.user_total||0}}&emsp;{{'player.info.list.mobileTotal'|translate}}:{{stat.user_mobile||0}}&emsp;{{'player.info.list.registeredYesterday'|translate}}:{{stat.user_yesterday||0}}&emsp;{{'player.info.list.registerToday'|translate}}:{{stat.user_today||0}}</span>
            <div ng-style="{height:app.navHeight-200+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
        </div>
    </div>
</div>