<div >
<div class="bg-light lter b-b wrapper-md" >
    <h1 ng-if="type == 'charge'" class="m-n font-thin h3">{{'player.changescore.title1'|translate}}</h1>
    <h1 ng-if="type == 'uncharge'" class="m-n font-thin h3">{{'player.changescore.title2'|translate}}</h1>
    <h1 ng-if="!enableTypeChoose" class="m-n font-thin h3">{{'player.changescore.title'|translate}}</h1>
</div>

<div class="wrapper-md col-lg-offset-2 col-lg-9">
    <!--<div ng-include="'apps/search/tpl/search_user2.html'"></div>-->
    <div class="row">
        <div class="col-sm-9">
            <form name="formValidate" class="form-horizontal form-validation">
                <div class="list-group">
                <!--选择玩家-->
                <li class="list-group-item" ui-sref="app.search.user">
                    <div class="row">
                        <div class="pull-left m-l-md">{{'player.changescore.label3'|translate}}</div>
                        <div class="pull-right m-r-md"><i class="fa fa-chevron-right text-muted"></i></div>
                        <div class="pull-right m-r-md">
                            <span ng-if="player">
                                <span ng-if="player.nick">{{player.nick||""}}</span>
                                (ID: {{player.uid}})
                            </span>
                        </div>
                    </div>
                </li>
                <!--<li ng-if="!isSmartDevice" class="list-group-item" data-toggle="modal" data-target="#searchUser">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-3">{{'player.changescore.label3'|translate}}</div>-->
                        <!--<div class="col-xs-7"><span ng-if="player"><span ng-if="player.nick">{{player.nick}}</span>(ID: {{player.uid}})</span></div>-->
                        <!--<div class="col-xs-2 text-right"><i class="fa fa-chevron-right text-muted"></i></div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--操作金额-->
                <li class="list-group-item">
                    <div class="row">
                        <div class="pull-left m-l-md">{{'player.changescore.label5'|translate}}</div>
                        <div class="pull-right m-r-sm col-xs-7"><input type="number" class="form-control" style="text-align: center" ng-model="amount" placeholder="{{ 'common.amount' | translate }}" min="1" ng-pattern="/^[0-9]+$/" required></div>
                    </div>
                    <div class="line"></div>
                    <!--可用数量-->
                    <div class="row">
                            <label class="pull-left control-label m-l-md">{{'player.changescore.label1'|translate}}</label>
                            <div class="pull-right control-label m-r-md"><span>{{jb}}</span></div>
                    </div>
                    <div class="line"></div>
                    <!--玩家余额-->
                    <div class="row">
                            <label class="pull-left control-label m-l-md">{{'player.changescore.label4'|translate}}</label>
                            <div class="pull-right control-label m-r-md"><span ng-if="player.id">{{player.jb}}</span></div>
                    </div>
                </li>
                <!--备注-->
                <li class="list-group-item">
                    <div class="row">
                        <div class="pull-left m-l-md">{{ 'common.memo' | translate }}</div>
                        <div class="pull-right m-r-sm col-xs-7">
                            <textarea class="form-control" style="resize: none;" rows="2" placeholder="" ng-model="memo"/>
                        </div>
                    </div>
                </li>
                <!--保存-->
                <li class="list-group-item text-right">
                    <button ng-if="type == 'charge'" type="submit" class="btn btn-success m-r-sm" ng-click="!formValidate.$invalid&&updateData('charge')">{{'player.changescore.opts.opt2'|translate}}</button>
                    <button ng-if="type == 'uncharge'" type="submit" class="btn btn-info m-r-sm" ng-click="!formValidate.$invalid&&updateData('uncharge')">{{'player.changescore.opts.opt3'|translate}}</button>
                    <button ng-if="type == 'uncharge'" type="button" class="btn btn-danger m-r-sm" ng-click="updateData('uncharge', true)">{{'search.all'|translate}}</button>
                </li>
            </div>
            </form>
        </div>

    </div>
</div>
</div>