<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3">{{'datastatistics.agentdata.title'|translate}}</h1></div>

<div>
    <div class="pull-right headpadd m-r-sm">
        <div class="input-group m-r-sm" style="width: 185px;">
            <input date-range-picker type="text" class="form-control" ng-model="search.date" options="dateOptions" placeholder="{{ 'common.times' | translate }}" style="position: relative;height: 34px"/>
            <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;right: 8px;top:8px;z-index:1000;cursor: pointer;" onclick="$(this).parent().find('input').click();"></i>
        </div>
    </div>
    <div class="input-group w-sm pull-right headpadd m-r-sm ">
        <div >
            <select ui-jq="chosen" class="w-full" ng-model="search.agent" ng-options="opt._id as opt.name for opt  in channels"  ng-change="getdata(1)" ng-if="isok">
                <option value="">{{'datastatistics.agentstatistics.typeOpts.opts'|translate}}</option>
            </select>
        </div>
    </div>


    <div class="pull-right m-r-sm headpadd" ng-show="!isSmartDevice">
        <select class=" form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
</div>
<div class="line b-b"></div>
<!--ng-style="{height:app.navHeight-200+'px'}"-->
<div style="margin: 0 10px 5px;position: relative;clear:both;">
    <div class="table-responsive" ng-style="tablestyle">
        <!--loading-->
        <div ng-if="moreLoading">
            <div style="position:fixed;z-index:1;width:100%;height:100%; background:#eeeeee;opacity: 0.5;"></div>
            <div ng-if="!isSmartDevice"  style="position:absolute;z-index: 2;left: 0;right: 0;top: 22em;bottom: 0;margin:auto;">
                <div class="text-center"><img width="30px" src="./apps/common/img/loading.gif"></div>
            </div>
            <div ng-if="isSmartDevice"  style="position:fixed;z-index: 2;left: 50%;top: 50%;transform: translate(-50%, -50%)">
                <div class="text-center"><img width="30px" src="./apps/common/img/loading.gif"></div>
            </div>
        </div>
        <!--no data-->
        <div class="text-center" ng-if="nodata&&!isSmartDevice" style="position:absolute;z-index: 2;left: 0;right: 0;top: 22em;bottom: 0;margin:auto;">
            <span style="border: 1px solid  #aaaaaa;padding: 5px;border-radius: 10px;">{{'ag-grid.noRowsToShow'|translate}}</span>
        </div>
        <div class="text-center" ng-if="nodata&&isSmartDevice" style="position:fixed;z-index: 2;left: 50%;top: 50%;transform: translate(-50%, -50%)">
            <span style="border: 1px solid  #aaaaaa;padding: 5px;border-radius: 10px;">{{'ag-grid.noRowsToShow'|translate}}</span>
        </div>
        <!--table-->
        <table class="table table-striped table-bordered mobiletable">
            <thead class="thead bg-white">
            <tr class="thr">
                <th class="thh">{{'datastatistics.agentdata.header.date'|translate}}</th>
                <th class="thh">{{'datastatistics.agentdata.header.rollIn'|translate}}</th>
                <th class="thh">{{'datastatistics.agentdata.header.rollOut'|translate}}</th>
                <th class="thh">{{'datastatistics.agentdata.header.increase'|translate}}</th>
                <th class="thh">{{'datastatistics.agentdata.header.decrease'|translate}}</th>
                <th class="thh">{{'datastatistics.agentdata.header.summary'|translate}}</th>
            </tr>
            </thead>
            <tbody class="tbody">

            <tr ng-repeat="row in usersInfo.rows" class="active tbr" ng-if="total">
                <td class="tbd" data-title="{{'datastatistics.agentdata.header.date'|translate}}" style="height: 2.8em">{{row.crtime | date:"yyyy/MM/dd HH:mm:ss"}}</td>
                <td class="tbd" data-title="{{'datastatistics.agentdata.header.rollIn'|translate}}" style="height: 2.8em">{{row.crtime}}</td>
                <td class="tbd" data-title="{{'datastatistics.agentdata.header.rollOut'|translate}}" style="height: 2.8em">{{row.uid}}</td>
                <td class="tbd" data-title="{{'datastatistics.agentdata.header.increase'|translate}}" style="height: 2.8em">{{row.uid}}</td>
                <td class="tbd" data-title="{{'datastatistics.agentdata.header.decrease'|translate}}" style="height: 2.8em">{{row.uid}}</td>
                <td class="tbd" data-title="{{'datastatistics.agentdata.header.summary'|translate}}" style="height: 2.8em">{{row.uid}}</td>
            </tr>

            </tbody>
        </table>
    </div>

    <!--ng-if="!isSmartDevice"-->
    <div ng-if="!moreLoading&&!isSmartDevice" style="margin:auto; margin-top: 30px">
        <div class="text-center">
            <div class="pull-left m-l-md">{{((page>0?(page-1):page)*(pageSize||20)+1)||0}} - {{(page*(pageSize||20) < total)?(page*(pageSize||20)):total||0}} / {{totalnumber||0}}</div>
            <button class="btn btn-default btn-sm" ng-click="getdata('',1)" ng-disabled="page==1">{{'ag-grid.first'|translate}}</button>
            <button class="btn btn-default btn-sm" ng-click="left()" ng-disabled="page==1">{{'ag-grid.previous'|translate}}</button>
            <span>{{page}}/{{pages}}</span>
            <button class="btn btn-default btn-sm" ng-click="right()" ng-disabled="page==pages">{{'ag-grid.next'|translate}}</button>
            <button class="btn btn-default btn-sm" ng-click="getdata('',pages)" ng-disabled="page==pages">{{'ag-grid.last'|translate}}</button>
        </div>
    </div>
    <div class="text-center" ng-if="!moreLoading&&!nodata&&isSmartDevice">
        <button class="btn btn-default btn-sm" ng-click="getdata('',1)" ng-disabled="page==1">{{'ag-grid.first'|translate}}</button>
        <button class="btn btn-default btn-sm" ng-click="left()" ng-disabled="page==1">{{'ag-grid.previous'|translate}}</button>
        <span>{{page}}/{{pages}}</span>
        <button class="btn btn-default btn-sm" ng-click="right()" ng-disabled="page==pages">{{'ag-grid.next'|translate}}</button>
        <button class="btn btn-default btn-sm" ng-click="getdata('',pages)" ng-disabled="page==pages">{{'ag-grid.last'|translate}}</button>
    </div>
</div>


