<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3">{{'datastatistics.agentstatistics.title'|translate}}</h1></div>

<div>
    <div class="pull-right headpadd m-r-sm">
        <div class="input-group " style="width: 185px;">
            <input date-range-picker type="text" class="form-control" ng-model="search.date" options="dateOptions" placeholder="{{ 'common.times' | translate }}" style="position: relative;height: 34px"/>
            <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;right: 8px;top:8px;z-index:1000;cursor: pointer;" onclick="$(this).parent().find('input').click();"></i>
        </div>
    </div>
    <div class="input-group w-sm pull-right headpadd m-r-sm ">
        <div class="">
            <select ui-jq="chosen" class="w-full input-sm" ng-model="search.agent" ng-options="opt._id as opt.name for opt  in channels" ng-change="getdata(1)" ng-if="isok">
                <option value="">{{'datastatistics.agentstatistics.typeOpts.opts'|translate}}</option>
            </select>
        </div>
    </div>
    <div class="pull-right m-r-sm headpadd" ng-show="!isSmartDevice">
        <select class=" form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
</div>
<div class="line b-b"></div>
<!--ng-style="{height:app.navHeight-200+'px'}"-->
<div style="margin: 0 10px 5px;position: relative;clear:both;">

        <!--loading-->
        <div ng-if="moreLoading">
            <div style="position:fixed;z-index:1;width:100%;height:100%; background:#eeeeee;opacity: 0.5;"></div>
            <div ng-if="!isSmartDevice"  style="position:absolute;z-index: 2;left: 0;right: 0;top:49%;bottom: 0;margin:auto;">
                <div class="text-center"><img width="30px" src="./apps/common/img/loading.gif"></div>
            </div>
            <div ng-if="isSmartDevice"  style="position:fixed;z-index: 2;left: 50%;top: 22em;margin-left: -8px">
                <div class="text-center"><img width="30px" src="./apps/common/img/loading.gif"></div>
            </div>
        </div>
        <!--no data-->
        <div class="text-center" ng-if="nodata&&!isSmartDevice" style="position:absolute;z-index: 2;left: 0;right: 0;top: 49%;bottom: 0;margin:auto;">
            <span style="border: 1px solid  #aaaaaa;padding: 5px;border-radius: 10px;">{{'ag-grid.noRowsToShow'|translate}}</span>
        </div>
        <div class="text-center" ng-if="nodata&&isSmartDevice" style="position:fixed;z-index: 2;left: 50%;top: 22em;margin-left: -20px">
            <span style="border: 1px solid  #aaaaaa;padding: 5px;border-radius: 10px;">{{'ag-grid.noRowsToShow'|translate}}</span>
        </div>

    <div class="cttable">
        <!--【fixed-thead表头】-->
        <table ng-if="!isSmartDevice" class="form-table fixed-thead " cellpadding="0" cellspacing="0" >
            <tr>
                <th>{{'datastatistics.agentstatistics.header.channelId'|translate}}</th>
                <th>{{'datastatistics.agentstatistics.header.channelName'|translate}}</th>
                <th>{{'datastatistics.agentstatistics.header.rollIn'|translate}}</th>
                <th>{{'datastatistics.agentstatistics.header.rollOut'|translate}}</th>
                <th>{{'datastatistics.agentstatistics.header.increase'|translate}}</th>
                <th>{{'datastatistics.agentstatistics.header.decrease'|translate}}</th>
                <th>{{'datastatistics.agentstatistics.header.balance'|translate}}</th>
                <th>{{'datastatistics.agentstatistics.header.details'|translate}}</th>
                <th style="width: 17px" ng-if="agentdata.rows.length>17"></th>
            </tr>
        </table>
        <!--【fixed-thead表头】-->
        <!--【表身】-->
        <div class="scroll-box" ng-style="tablestyle">
        <table class="form-table table table-striped table-bordered mobiletable table-hover" >
            <tr ng-repeat="row in agentdata.rows" class="active tbr" ng-if="total">
                <td class="tbd" data-title="{{'datastatistics.agentstatistics.header.channelId'|translate}}" style="height: 2.8em">{{row.agent.code}}</td>
                <td class="tbd" data-title="{{'datastatistics.agentstatistics.header.channelName'|translate}}" style="height: 2.8em">{{row.agent.name}}</td>
                <td class="tbd" data-title="{{'datastatistics.agentstatistics.header.rollIn'|translate}}" style="height: 2.8em">{{row.agent_in_jb | number}}</td>
                <td class="tbd" data-title="{{'datastatistics.agentstatistics.header.rollOut'|translate}}" style="height: 2.8em">{{row.agent_out_jb | number}}</td>
                <td class="tbd" data-title="{{'datastatistics.agentstatistics.header.increase'|translate}}" style="height: 2.8em">{{row.up_jb | number}}</td>
                <td class="tbd" data-title="{{'datastatistics.agentstatistics.header.decrease'|translate}}" style="height: 2.8em">{{row.down_jb | number}}</td>
                <td class="tbd" data-title="{{'datastatistics.agentstatistics.header.balance'|translate}}" style="height: 2.8em">{{(row.hold.jb.amount||0) | number}}</td>
                <td class="tbd text-left" data-title="{{'datastatistics.agentstatistics.header.details'|translate}}">
                    <button class="btn btn-xs btn-info"  ng-click="details(row.agent.code,search.date)">{{'datastatistics.agentstatistics.header.details'|translate}}</button>
                </td>
            </tr>
        </table>
        </div>
    </div>

    <!--ng-if="!isSmartDevice"-->
    <div ng-if="!moreLoading&&!isSmartDevice" style="margin:auto; margin-top: 10px">
        <div class="text-center">
            <div class="pull-left m-l-md">{{((page>0?(page-1):page)*(pageSize||20)+1)||0}} - {{(page*(pageSize||20) < total)?(page*(pageSize||20)):total||0}} / {{totalnumber||0}}</div>
            <button class="btn btn-default btn-sm" ng-click="getdata('',1)" ng-disabled="page==1">{{'ag-grid.first'|translate}}</button>
            <button class="btn btn-default btn-sm" ng-click="left()" ng-disabled="page==1">{{'ag-grid.previous'|translate}}</button>
            <span>{{page}}/{{pages}}</span>
            <button class="btn btn-default btn-sm" ng-click="right()" ng-disabled="page==pages">{{'ag-grid.next'|translate}}</button>
            <button class="btn btn-default btn-sm" ng-click="getdata('',pages)" ng-disabled="page==pages">{{'ag-grid.last'|translate}}</button>
        </div>
    </div>
    <div class="text-center" ng-if="!moreLoading&&!nodata&&isSmartDevice">
        <button class="btn btn-default btn-sm" ng-click="getdata('',1)" ng-disabled="page==1">{{'ag-grid.first'|translate}}</button>
        <button class="btn btn-default btn-sm" ng-click="left()" ng-disabled="page==1">{{'ag-grid.previous'|translate}}</button>
        <span>{{page}}/{{pages}}</span>
        <button class="btn btn-default btn-sm" ng-click="right()" ng-disabled="page==pages">{{'ag-grid.next'|translate}}</button>
        <button class="btn btn-default btn-sm" ng-click="getdata('',pages)" ng-disabled="page==pages">{{'ag-grid.last'|translate}}</button>
    </div>
</div>


