<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3">{{'datastatistics.profit.title'|translate}}</h1></div>

<div>
    <div class="pull-right headpadd m-r-sm">
        <div class="input-group" style="width: 250px;">
            <input date-range-picker type="text" class="form-control" ng-model="search.date" options="dateOptions" placeholder="{{'common.times'|translate}}" style="position: relative;height: 34px"/>
            <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;right: 8px;top:8px;z-index:1000;cursor: pointer;" onclick="$(this).parent().find('input').click();" ></i>
        </div>
    </div>

    <div class="input-group w-sm pull-right headpadd m-r-sm " ng-if="select">
        <select ui-jq="chosen" class="w-full input-sm" ng-model="search.agent" ng-options="opt._id as opt.name for opt  in channels" ng-change="getdata(1)">
            <option value="">{{'datastatistics.profit.label1'|translate}}</option>
        </select>
    </div>

    <div class="pull-right m-r-sm headpadd" ng-show="!isSmartDevice">
        <select class=" form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="getdata(1)">
        </select>
    </div>
</div>
<div class="line b-b"></div>

<div style="margin: 0 10px 5px;position: relative">
        <!--loading-->
        <div ng-if="moreLoading">
            <div style="position:fixed;z-index:1;width:100%;height:100%; background:#eeeeee;opacity: 0.5;"></div>
            <div ng-if="!isSmartDevice"  style="position:absolute;z-index: 2;left: 0;right: 0;top: 49%;bottom: 0;margin:auto;">
                <div class="text-center"><img width="30px" src="./apps/common/img/loading.gif"></div>
            </div>
            <div ng-if="isSmartDevice"  style="position:fixed;z-index: 2;left: 50%;top: 50%;transform: translate(-50%, -50%)">
                <div class="text-center"><img width="30px" src="./apps/common/img/loading.gif"></div>
            </div>
        </div>
        <!--no data-->
        <div class="text-center" ng-if="nodata&&!isSmartDevice" style="position:absolute;z-index: 2;left: 0;right: 0;top: 49%;bottom: 0;margin:auto;">
            <span style="border: 1px solid  #aaaaaa;padding: 5px;border-radius: 10px;">{{'ag-grid.noRowsToShow'|translate}}</span>
        </div>
        <div class="text-center" ng-if="nodata&&isSmartDevice" style="position:fixed;z-index: 2;left: 50%;top: 50%;transform: translate(-50%, -50%)">
            <span style="border: 1px solid  #aaaaaa;padding: 5px;border-radius: 10px;">{{'ag-grid.noRowsToShow'|translate}}</span>
        </div>

    <div class="cttable">
        <!--【fixed-thead表头】-->
        <table ng-if="!isSmartDevice" class="form-table fixed-thead " cellpadding="0" cellspacing="0" >
            <tr>
                <th>{{'datastatistics.profit.date'|translate}}</th>
                <th ng-repeat="x in games">{{x.name}}</th>
                <th>{{'datastatistics.profit.allSummary'|translate}}</th>
                <th style="width: 17px" ng-if="gameProfit.rows.length>=pageSize"></th>
            </tr>
        </table>
        <!--【fixed-thead表头】-->
        <!--【表身】-->
        <div class="scroll-box" ng-style="tablestyle">
        <table class="form-table table table-striped table-bordered mobiletable table-hover">
            <tr ng-if="!nodata&&isSmartDevice">
                <td style="color: #1006F1">{{'datastatistics.profit.summary'|translate}}</td>
                <td ng-repeat="x in games"data-title={{x.name}}>{{gameProfit.stat[x._id].gain_jb||0  | number}}</td>
                <td data-title="{{'datastatistics.profit.allSummary'|translate}}">{{gameProfit.stat.total}}</td>
            </tr>
            <tr ng-repeat="row in gameProfit.rows" class="active" ng-if="total">
                <td data-title="{{'datastatistics.profit.date'|translate}}">{{row.date | date:'yyyy-MM-dd'}}</td>
                <td ng-repeat="x in games" data-title={{x.name}}>{{row[x._id].gain_jb||0  | number}}</td>
                <td data-title="{{'datastatistics.profit.allSummary'|translate}}">{{row.total | number}}</td>
            </tr>
        </table>
        </div>
        <!--【表身】-->
        <!--【fixed-tfoot表尾】-->
        <table class="form-table fixed-tfoot" cellpadding="0" cellspacing="0" ng-if="!isSmartDevice">
            <tr>
                <td>汇总</td>
                <td ng-repeat="x in games" data-title={{x.name}}>{{gameProfit.stat[x._id].gain_jb||0  | number}}</td>
                <td data-title="{{'datastatistics.profit.allSummary'|translate}}">{{gameProfit.stat.total}}</td>
                <td style="width: 17px" ng-if="gameProfit.rows.length>=pageSize"></td>
            </tr>
        </table>
        <!--【fixed-tfoot表尾】-->
    </div>


    <!--ng-if="!isSmartDevice"-->
    <div ng-if="!isSmartDevice" style="position:absolute;z-index: 2;left: 0;right: 0;top: 101%;bottom: 0;margin:auto;">
        <div class="text-center">
            <div class="pull-left m-l-md">{{ pages!=0 ? (((page>0?(page-1):page)*(pageSize||20)+1)||0) : 0}} - {{(page*(pageSize||20) < total)?(page*(pageSize||20)):total||0}} / {{totalnumber||0}}</div>
            <button class="btn btn-default btn-sm" ng-click="getdata(1)" ng-disabled="pages ==0 || page==1">{{'ag-grid.first'|translate}}</button>
            <button class="btn btn-default btn-sm" ng-click="left()" ng-disabled="pages ==0 || page==1">{{'ag-grid.previous'|translate}}</button>
            <span>{{ pages==0 ? 0 : page}}/{{pages}}</span>
            <button class="btn btn-default btn-sm" ng-click="right()" ng-disabled="pages==0 || page==pages">{{'ag-grid.next'|translate}}</button>
            <button class="btn btn-default btn-sm" ng-click="getdata(pages)" ng-disabled="pages==0 || page==pages">{{'ag-grid.last'|translate}}</button>
        </div>
    </div>
    <div class="text-center" ng-if="!moreLoading&&!nodata&&isSmartDevice">
        <button class="btn btn-default btn-sm" ng-click="getdata(1)" ng-disabled="page==1">{{'ag-grid.first'|translate}}</button>
        <button class="btn btn-default btn-sm" ng-click="left()" ng-disabled="page==1">{{'ag-grid.previous'|translate}}</button>
        <span>{{ pages==0 ? 0:page }}/{{ pages }}</span>
        <button class="btn btn-default btn-sm" ng-click="right()" ng-disabled="pages==0 || page==pages">{{'ag-grid.next'|translate}}</button>
        <button class="btn btn-default btn-sm" ng-click="getdata(pages)" ng-disabled="pages==0 || page==pages">{{'ag-grid.last'|translate}}</button>
    </div>
</div>

</div>
