<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3">{{'datastatistics.table.title'|translate}}</h1></div>
<div>
    <div class="pull-right m-r-sm headpadd">
        <select class="input-sm form-control w-sm" ng-model="search" ng-options="opt for opt in games" ng-change="onPageSizeChanged()">
            <option value="">{{'datastatistics.table.gameName'|translate}}</option>
        </select>
    </div>
    <div class="pull-right m-r-sm headpadd" ng-show="!isSmartDevice">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
</div>
<div class="line b-b"></div>
<!--ng-style="{height:app.navHeight-200+'px'}"-->
<div style="margin: 0 10px 5px;position: relative">

        <!--loading-->
    <div ng-if="moreLoading">
        <div style="position:fixed;z-index:1;width:100%;height:100%; background:#eeeeee;opacity: 0.5;"></div>
        <div ng-if="!isSmartDevice"  style="position:absolute;z-index: 2;left: 0;right: 0;top: 49%;bottom: 0;margin:auto;">
            <div class="text-center"><img width="30px" src="./apps/common/img/loading.gif"></div>
        </div>
        <div ng-if="isSmartDevice"  style="position:fixed;z-index: 2;left: 50%;top: 50%;transform: translate(-50%, -50%)">
            <div class="text-center"><img width="30px" src="./apps/common/img/loading.gif"></div>
        </div>
    </div>
    <!--no data-->
    <div class="text-center" ng-if="nodata&&!isSmartDevice" style="position:absolute;z-index: 2;left: 0;right: 0;top: 49%;bottom: 0;margin:auto;">
        <span style="border: 1px solid  #aaaaaa;padding: 5px;border-radius: 10px;">{{'ag-grid.noRowsToShow'|translate}}</span>
    </div>
    <div class="text-center" ng-if="nodata&&isSmartDevice" style="position:fixed;z-index: 2;left: 50%;top: 50%;transform: translate(-50%, -50%)">
        <span style="border: 1px solid  #aaaaaa;padding: 5px;border-radius: 10px;">{{'ag-grid.noRowsToShow'|translate}}</span>
    </div>

        <div class="cttable">
            <!--【fixed-thead表头】-->
            <table ng-if="!isSmartDevice" class="form-table fixed-thead " cellpadding="0" cellspacing="0" >
                <tr>
                    <th>{{'datastatistics.table.header.gameName'|translate}}</th>
                    <th>{{'datastatistics.table.header.roomName'|translate}}</th>
                    <th>{{'datastatistics.table.header.tableNum'|translate}}</th>
                    <th>{{'datastatistics.table.header.tableName'|translate}}</th>
                    <th>{{'datastatistics.table.header.in'|translate}}</th>
                    <th>{{'datastatistics.table.header.out'|translate}}</th>
                    <th>{{'datastatistics.table.header.gain'|translate}}</th>
                    <th>{{'datastatistics.table.header.rate'|translate}}</th>
                    <th>{{'datastatistics.table.header.profit'|translate}}</th>
                </tr>
            </table>
            <!--【fixed-thead表头】-->
            <!--【表身】-->
            <div class="scroll-box" ng-style="tablestyle">
                <table class="form-table table table-striped table-bordered mobiletable table-hover">
                    <tr ng-repeat="row in allData | filter:{gamename:''}" class="active tbr">
                        <td data-title="{{'datastatistics.table.header.gameName'|translate}}" style="height: 2.8em">{{row.gamename}}</td>
                        <td data-title="{{'datastatistics.table.header.roomName'|translate}}" style="height: 2.8em">{{row.gameroom}}</td>
                        <td data-title="{{'datastatistics.table.header.tableNum'|translate}}" style="height: 2.8em">{{row.tablenum}}</td>
                        <td data-title="{{'datastatistics.table.header.tableName'|translate}}" style="height: 2.8em">{{row.tablename}}</td>
                        <td data-title="{{'datastatistics.table.header.in'|translate}}" style="height: 2.8em">{{row.in | number}}</td>
                        <td data-title="{{'datastatistics.table.header.out'|translate}}" style="height: 2.8em">{{row.out | number}}</td>
                        <td data-title="{{'datastatistics.table.header.gain'|translate}}" style="height: 2.8em">{{row.gain | number}}</td>
                        <td data-title="{{'datastatistics.table.header.rate'|translate}}" style="height: 2.8em">{{row.rate | number}}</td>
                        <td data-title="{{'datastatistics.table.header.profit'|translate}}" style="height: 2.8em">{{row.profit | number}}</td>
                    </tr>
                </table>
            </div><!--【表身】-->
        </div>



    <!--ng-if="!isSmartDevice"-->
    <div ng-if="!isSmartDevice" style="margin:auto; margin-top: 30px">
        <div class="text-center">
            <div class="pull-left m-l-md">{{((page>0?(page-1):page)*(pageSize||20)+1)||0}} - {{(page*(pageSize||20) < total)?(page*(pageSize||20)):total||0}} / {{totalnumber||0}}</div>
            <button class="btn btn-default btn-sm" ng-click="getdata('',1)" ng-disabled="page==1">{{'ag-grid.first'|translate}}</button>
            <button class="btn btn-default btn-sm" ng-click="left()" ng-disabled="page==1">{{'ag-grid.previous'|translate}}</button>
            <span>{{page}}/{{pages}}</span>
            <button class="btn btn-default btn-sm" ng-click="right()" ng-disabled="page==pages">{{'ag-grid.next'|translate}}</button>
            <button class="btn btn-default btn-sm" ng-click="getdata('',pages)" ng-disabled="page==pages">{{'ag-grid.last'|translate}}</button>
        </div>
    </div>
    <div class="text-center" ng-if="!moreLoading&&!nodata&&isSmartDevice">
        <button class="btn btn-default btn-sm" ng-click="getdata('',1)" ng-disabled="page==1">{{'ag-grid.first'|translate}}</button>
        <button class="btn btn-default btn-sm" ng-click="left()" ng-disabled="page==1">{{'ag-grid.previous'|translate}}</button>
        <span>{{page}}/{{pages}}</span>
        <button class="btn btn-default btn-sm" ng-click="right()" ng-disabled="page==pages">{{'ag-grid.next'|translate}}</button>
        <button class="btn btn-default btn-sm" ng-click="getdata('',pages)" ng-disabled="page==pages">{{'ag-grid.last'|translate}}</button>
    </div>
</div>


