<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            <a href class="btn btn-sm btn-info m-t-n-xs" ng-click="save()" translate="config.manage.menus.save">保存</a>
        </div>
        <strong translate="config.manage.menus.editInformation">编辑信息</strong>
    </div>
    <div class="panel-body bg-white-only">
        <textarea style="border:1px solid #ccc; width:100%; display:block; resize:none;padding: 6px;" ng-style="myStyle" placeholder="请输入JSON格式数据" ng-model="val"></textarea>
    </div>
</div>