<div ng-controller="LotteryEditCtrl">
    <div ui-view class="fade-in-down"></div>
    <form ng-show="$state.is('app.shop.lottery.edit') " name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{'shop.lottery.edit.editInformation'|translate}}</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.lottery.edit.treasureProductsID'|translate}}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'shop.lottery.edit.treasureProductsID'|translate}}" ng-model="lottery.product" required disabled="true">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.lottery.edit.treasureActivityID'|translate}}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="{{'shop.lottery.edit.treasureActivityID'|translate}}" ng-model="lottery.id"  required ng-disabled="id">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">{{'shop.lottery.edit.theQuantity'|translate}}<code style="background-color: transparent">*</code></label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="number" class="form-control" placeholder="每期夺宝产品的数量" ng-model="lottery.prodNum"  required ng-disabled="id">-->
                    <!--</div>-->
                    <!--<div class="col-sm-1"></div>-->
                <!--</div>-->
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.lottery.edit.treasureProductsTitle'|translate}}<code style="background-color: transparent"></code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'shop.lottery.edit.defaultTitle'|translate}}" ng-model="lottery.title">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.lottery.edit.treasureProductsSummary'|translate}}<code style="background-color: transparent"></code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'shop.lottery.edit.defaultSummary'|translate}}" ng-model="lottery.summary">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.lottery.edit.markedPrice'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="{{'shop.lottery.edit.markedPrice'|translate}}" ng-model="lottery.totalPrice" min="35" required ng-disabled="id">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.lottery.edit.maxPeriodsNumber'|translate}}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="{{'shop.lottery.edit.maxPeriodsNumber'|translate}}" ng-model="lottery.maxPeriod"  required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.lottery.edit.periodsNumber'|translate}}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="{{'shop.lottery.edit.periodsNumber'|translate}}" ng-model="lottery.period"  required  disabled="true">
                    </div>
                    <div class="col-sm-1"></div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.lottery.edit.sorting'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="{{'shop.lottery.edit.sorting'|translate}}" ng-model="lottery.sort"  required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">{{'shop.lottery.edit.unitPrice'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="number" class="form-control" placeholder="单价" ng-model="lottery.unitPrice"  required ng-disabled="id">-->
                    <!--</div>-->
                    <!--<div class="col-sm-1"></div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">{{'shop.lottery.edit.currencyType'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<select class="form-control" ng-model="lottery.currency" ng-disabled="id">-->
                            <!--<option value="dbj">{{'shop.lottery.edit.treasureVoucher'|translate}}</option>-->
                            <!--<option value="jb">{{'shop.lottery.edit.gold'|translate}}</option>-->
                            <!--<option value="tb">{{'shop.lottery.edit.tCurrency'|translate}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="col-sm-1"></div>-->
                <!--</div>-->
                <!--<div class="form-group">-->
                    <!--<label class="col-sm-2 control-label">{{'shop.lottery.edit.robWealthType'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<select class="form-control" ng-model="lottery.type" ng-disabled="id">-->
                            <!--<option value="1">{{'shop.lottery.edit.continuousDrawing'|translate}}</option>-->
                            <!--<option value="2">{{'shop.lottery.edit.limitTheLottery'|translate}}</option>-->
                        <!--</select>-->
                    <!--</div>-->
                    <!--<div class="col-sm-1"></div>-->
                <!--</div>-->
                <!--<div class="form-group" ng-if="lottery.type =='2'">-->
                    <!--<label class="col-sm-2 control-label">{{'shop.lottery.edit.limitTheLotterytime'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>-->
                    <!--<div class="col-sm-9">-->
                        <!--<input type="number" class="form-control" placeholder="限时开奖时间" ng-model="lottery.lotteryTime"  required>-->
                    <!--</div>-->
                    <!--<div class="col-sm-1"></div>-->
                <!--</div>-->

                <div class="form-group" ng-if="lottery.status < 3">
                    <label class="col-sm-2 control-label">{{'shop.lottery.edit.whetherShelves'|translate}}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="lottery.enable">
                            <option value="1">{{'common.yes'|translate}}</option>
                            <option value="0">{{'common.no'|translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group" ng-if="lottery.status >= 3">
                    <label class="col-sm-2 control-label">{{'shop.lottery.edit.state'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="lottery.status">
                            <option value="3">{{'shop.lottery.edit.theLotteryAnnounced'|translate}}</option>
                            <option value="4">{{'shop.lottery.edit.notYetShipped'|translate}}</option>
                            <option value="5">{{'shop.lottery.edit.alreadyShipped'|translate}}</option>
                            <option value="6">{{'shop.lottery.edit.alreadyCompleted'|translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group" ng-if="lottery.status >= 3">
                    <label class="col-sm-2 control-label">{{'shop.lottery.edit.logisticsCompany'|translate}}<code style="background-color: transparent"></code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'shop.lottery.edit.logisticsCompany'|translate}}" ng-model="lottery.logistics">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group" ng-if="lottery.status >= 3">
                    <label class="col-sm-2 control-label">{{'shop.lottery.edit.logisticsOrderNumber'|translate}}<code style="background-color: transparent"></code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'shop.lottery.edit.logisticsOrderNumber'|translate}}" ng-model="lottery.lorder">
                    </div>
                    <div class="col-sm-1"></div>
                </div>


            </div>
            <!-- 加载编辑器的容器 -->
            <footer class="panel-footer text-right bg-light lter">
                <button type="submit" class="btn btn-success" ng-click="!formValidate.$invalid&&save()">{{'shop.lottery.edit.save'|translate}}</button>
            </footer>
        </div>
    </form>

</div>
