<div ng-controller="AddrEditCtrl">
    <div ui-view class="fade-in-down"></div>
    <form ng-show="$state.is('app.shop.address.edit') " name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{'shop.address.edit.editInformation'|translate}}</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.address.edit.userID'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'shop.address.edit.userID'|translate}}" ng-model="address.userId" ng-disabled="id" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.address.edit.name'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'shop.address.edit.name'|translate}}" ng-model="address.name"  required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.address.edit.tel'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'shop.address.edit.tel'|translate}}" ng-model="address.phone"  required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.address.edit.province'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'shop.address.edit.province'|translate}}" ng-model="address.province"  required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.address.edit.city'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'shop.address.edit.city'|translate}}" ng-model="address.city"  required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'shop.address.edit.detailedAddress'|translate}}<code style="background-color: transparent" ng-disabled="id">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{'shop.address.edit.detailedAddress'|translate}}" ng-model="address.detail"  required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <!-- 加载编辑器的容器 -->
            <footer class="panel-footer text-right bg-light lter">
                <button type="submit" class="btn btn-success" ng-click="!formValidate.$invalid&&save()">{{'shop.address.edit.save'|translate}}</button>
            </footer>
        </div>
    </form>

</div>
