<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3">{{'shop.bet.betList'|translate}}</h1></div>
<div>
    <div class="pull-right m-r-xxl headpadd">
        <div class="input-group m-r-sm">
            <input type="text" ng-model="search" class="form-control input-sm bg-light no-border rounded padder" placeholder="{{'shop.bet.search'|translate}}">
            <span class="input-group-btn" style="width: auto">
                <button type="submit" class="btn btn-sm bg-light rounded" ng-click="onPageSizeChanged()"><i class="fa fa-search"></i></button>
              </span>
        </div>
    </div>
    <div class="pull-right m-r-sm headpadd">
        <div class="pull-right m-r-sm">
            {{'shop.bet.searchUser'|translate}}<label class="i-checks i-checks-sm" style="margin-top: 5px"><input type="checkbox" ng-model="isSearchUser"><i></i></label>
        </div>
    </div>
    <div class="pull-right m-r-sm headpadd">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
</div>

<div class="panel panel-default">
    <div class="line b-b" style="margin: 0"></div>
    <div class="panel-body">
        <div ng-style="{height:app.navHeight-165+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
    </div>
</div>
