<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3">{{'shop.address.addressList'|translate}}</h1></div>
<div>
    <div class="pull-right m-r-xxl headpadd">
        <button ui-sref="app.shop.address.edit" type="button" class="btn btn-sm btn-primary btn-addon">
            <i class="fa fa-plus"></i>{{'shop.address.create'|translate}}
        </button>
        <button type="button" class="btn btn-sm btn-danger btn-addon" ng-click="delete()">
            <i class="fa fa-trash-o"></i>{{'shop.address.delete'|translate}}
        </button>
    </div>
    <div class="pull-right m-r-sm headpadd">
        <form>
            <div class="input-group m-r-sm">
                <input type="text" ng-model="search" class="form-control input-sm bg-light no-border rounded padder" placeholder="{{'shop.address.search'|translate}}">
                <span class="input-group-btn" style="width: auto">
                <button type="submit" class="btn btn-sm bg-light rounded" ng-click="onPageSizeChanged()"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
    </div>
    <div class="pull-right m-r-sm headpadd">
        <select class="m-t-xs m-r-sm" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
</div>

<div class="panel panel-default">
    <div class="line b-b" style="margin: 0"></div>
    <div class="panel-body">
        <div ng-style="{height:app.navHeight-165+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
    </div>
</div>
