<div class="bg-light lter b-b wrapper">
    <div class="pull-right">
        <button ui-sref="app.shop.product.edit" type="button" class="btn btn-sm btn-primary btn-addon">
            <i class="fa fa-plus"></i>{{'shop.product.create'|translate}}
        </button>
        <button type="button" class="btn btn-sm btn-danger btn-addon" ng-click="delete()">
            <i class="fa fa-trash-o"></i>{{'shop.product.delete'|translate}}
        </button>
    </div>
    <div class="pull-right">
        <form>
            <div class="input-group m-r-sm">
                <input type="text" ng-model="search" class="form-control input-sm bg-light no-border rounded padder" placeholder="{{'shop.product.search'| translate}}">
              <span class="input-group-btn" style="width: auto">
                <button type="submit" class="btn btn-sm bg-light rounded" ng-click="onPageSizeChanged()"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
    </div>
    <div class="pull-right m-r-sm">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
    <h1 class="m-n font-thin h3">{{'shop.product.productList'|translate}}</h1>
</div>

<div class="panel panel-default">
    <div class="line b-b" style="margin: 0"></div>
    <div class="panel-body">
        <div ng-style="{height:app.navHeight-165+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
    </div>
</div>
