<!-- hbox layout -->
<div class="hbox hbox-auto-xs hbox-auto-sm bg-light ">

    <!-- column -->
    <div class="col w-sm b-r">
        <div class="wrapper-sm b-b">
            <div class="h4">组织</div>
        </div>
        <div class="list-group no-radius no-border no-bg m-b-none" ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-91}}+'px', size:'8px'}">
            <div style="padding: 10px 0px">
                <treecontrol class="tree-custom"
                             tree-model="treedata"
                             options="opts"
                             on-selection="selectedNode(node,$parentNode)"
                             expanded-nodes="expandedNodes"
                             selected-node="selected">
                    {{node.title}}
                </treecontrol>
            </div>
        </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col w-lg lter b-r">
        <div class="wrapper-sm b-b">
            <div class="pull-right">
                <a href class="btn btn-sm btn-info m-t-n-xs" ng-init="ebtnname='新增'" ng-click="change(0)">
                    {{ebtnname}}
                </a>
                <a href ng-show="curRole" class="btn btn-sm btn-success m-t-n-xs" ng-init="ubtnname='更新'" ng-click="change(1)">
                    {{ubtnname}}
                </a>
            </div>

            <div class="h4">角色</div>
        </div>
        <div ng-if="!isCollapsed" class="panel-body bg-white-only">
            <form name="formValidate" class="form-horizontal form-validation">
                <div class="form-group">
                    <label class="col-sm-3 control-label">编码</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="编码(a-z|A-Z|0-9字符)" ng-model="role.code" ng-pattern="/^[a-z|A-Z|0-9]*$/" ng-disabled="role._id" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">名称</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="名称" ng-model="role.title"  ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">描述</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="描述" ng-model="role.description"  ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">组织</label>
                    <div class="col-sm-9">
                        <select ui-jq="chosen" multiple class="w-full" ui-options="{placeholder_text_multiple:'请选择'}" ng-model="role.orgs" ng-options="option.code as option.title for option in orgs">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">开/关</label>
                    <div class="col-sm-9">
                        <label class="i-checks checkbox-inline">
                            <input type="checkbox" ng-model="role.status" ng-true-value="1" ng-false-value="0"><i></i>
                        </label>
                    </div>
                </div>
                <footer class="text-right">
                    <button ng-hide="role._id" class="btn btn-info" ng-click="!formValidate.$invalid&&enter()">确认</button>
                    <button ng-show="role._id" class="btn btn-success" ng-click="!formValidate.$invalid&&update()">保存</button>
                </footer>
            </form>
        </div>
        <div class="list-group no-radius no-border no-bg m-b-none" ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-91}}+'px', size:'8px'}">
            <p ng-show="!roles.length&&isCollapsed" style="text-align: center">无数据</p>
            <a ng-repeat="role in roles" class="list-group-item m-l-none hover-anchor b-a no-select" ng-class="{'focus': role.selected}" ng-click="selectRole(role)" ng-dblclick="change(1)">
                <span ng-click="deleteRole(role)" class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                <span class="block m-l" popover-placement="{{$index!=0&&$index==roles.length-1?'top':'bottom'}}" uib-popover="{{role.code+':'+role.description}}" popover-trigger="mouseenter">{{ role.title}}</span>
            </a>
        </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col w-lg lter b-r">
        <div class="wrapper-xs b-b">
            <div class="input-group m-b-xxs">
                <span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
                <input type="text" class="form-control input-sm no-border no-bg text-md" placeholder="搜索资源" ng-model="query">
            </div>
        </div>
        <div class="list-group no-radius no-border no-bg m-b-none" ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-91}}+'px', size:'8px'}">
            <div ng-repeat="resource in resources | filter:query" class="list-group-item m-l-none" ng-class="{'select': resource.selected }" ng-click="selectResource(resource)" popover-placement="{{$index!=0&&$index==resources.length-1?'top':'bottom'}}" uib-popover="{{resource.title}}" popover-trigger="mouseenter">
                <label class="i-checks i-checks-sm" style="margin-bottom: 0">
                    <input type="checkbox" ng-click="updateResource()" ng-model="resource.isChecked">
                    <i></i>
                </label>
                {{ resource.code }}
            </div>
        </div>
    </div>
    <!-- /column -->

    <!-- column -->
    <div class="col w-sm bg-white-only">
        <div class="wrapper-sm b-b">
            <div class="h4">权限</div>
        </div>
        <div class="list-group no-radius no-border no-bg m-b-none" ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-91}}+'px', size:'8px'}">
            <div ng-repeat="permission in curResource.permissions" class="list-group-item m-l-none" ng-class="{'select': permission.selected }" ng-click="selectPermission(permission)">
                <label class="i-checks i-checks-sm" style="margin-bottom: 0">
                    <input type="checkbox" ng-click="updatePermission()" ng-model="permission.isChecked">
                    <i></i>
                </label>
                {{ permission.code }}
            </div>
        </div>
    </div>
    <!-- /column -->
</div>
