<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3" translate="app.recharge.third">第三方充值</h1></div>
<div>
    <div class="pull-right headpadd">
        <form>
            <div class="input-group m-r-sm w-lg">
                <input type="text" ng-model="search.keyword" class="form-control input-sm bg-light no-border rounded padder" placeholder="{{ 'common.searchUser' | translate }}">
                <span class="input-group-btn" style="width: auto">
                    <button type="submit" class="btn btn-sm bg-light rounded" ng-click="onPageSizeChanged()"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>
    </div>

    <!--日期区间-->
    <div class="pull-right headpadd">
        <div class="input-group m-r-sm" style="width: 185px;">
            <input date-range-picker type="text" class="form-control" ng-model="search.date" options="dateOptions" placeholder="{{ 'common.times' | translate }}" style="position: relative;height: 30px"/>
            <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;right: 8px;top:8px;z-index:1000;cursor: pointer;" onclick="$(this).parent().find('input').click();"></i>
        </div>
    </div>

    <div class="pull-right m-r-sm headpadd" >
        <select class="input-sm form-control" ng-model="search.status" ng-change="onPageSizeChanged()">
            <option value="" translate="recharge.third.state">充值状态</option>
            <option value="0" translate="recharge.third.fail">不成功</option>
            <option value="1" translate="recharge.third.success">成功</option>
        </select>
    </div>

    <div class="pull-right m-r-sm headpadd">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
</div>

<div>
    <div class="panel panel-default">
        <div class="line b-b" style="margin: 0"></div>
        <div class="panel-body">
            <span style="font-size: larger">{{ 'recharge.third.totalrecharge' | translate }}:{{stat.recharge_people_total||0}}&emsp;{{ 'recharge.third.rechargenumberyesterday' | translate }}:{{stat.recharge_people_yesterday||0}}&emsp;{{ 'recharge.third.rechargenumbertoday' | translate }}:{{stat.recharge_people_today||0}}&emsp;{{ 'recharge.third.totalrechargeamount' | translate }}:{{stat.recharge_total||0}}&emsp;{{ 'recharge.third.rechargeyesterday' | translate }}:{{stat.recharge_yesterday||0}}&emsp;{{ 'recharge.third.rechargetoday' | translate }}:{{stat.recharge_today||0}}&emsp;{{ 'recharge.third.effectiveorder' | translate }}:{{stat.recharge_order_valid||0}}&emsp;{{ 'recharge.third.invalidorder' | translate }}:{{stat.recharge_order_invalid||0}}</span>
            <div ng-style="{height:app.navHeight-195+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
        </div>
    </div>
</div>