<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3">{{'bank.account.paylist.title'|translate}}</h1></div>
<div>
    <div class="pull-right m-r-sm headpadd">
        <form>
            <div class="input-group m-r-sm w-lg">
                <input type="text" ng-model="search.keyword" class="form-control input-sm bg-light no-border rounded padder" placeholder="{{'bank.account.paylist.search'|translate}}">
                <span class="input-group-btn" style="width: auto">
                <button type="submit" class="btn btn-sm bg-light rounded" ng-click="onPageSizeChanged()"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
    </div>
    <div class="pull-right m-r-sm headpadd">
        <div class="input-group m-r-sm" style="width: 185px;">
            <input date-range-picker type="text" class="form-control" ng-model="search.date" options="dateOptions" placeholder="{{'common.times'|translate}}" style="position: relative;height: 30px"/>
            <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;right: 8px;top:8px;z-index:1000;cursor: pointer;" onclick="$(this).parent().find('input').click();"></i>
        </div>
    </div>
    <div class="pull-right m-r-sm headpadd">
        <select class="input-sm form-control" ng-model="search.currency" ng-change="onPageSizeChanged()">
            <option value="">{{'bank.account.paylist.currencyType'|translate}}</option>
            <option value="cny">{{'bank.account.paylist.cny'|translate}}</option>
            <option value="tb">{{'bank.account.paylist.tb'|translate}}</option>
            <option value="jb">{{'bank.account.paylist.jb'|translate}}</option>
            <option value="dbj">{{'bank.account.paylist.dbj'|translate}}</option>
        </select>
    </div>
    <div class="pull-right m-r-sm headpadd">
        <select class="input-sm form-control" ng-model="search.status" ng-change="onPageSizeChanged()">
            <option value="">{{'bank.account.paylist.opts'|translate}}</option>
            <option value="0">{{'bank.account.paylist.opt0'|translate}}</option>
            <option value="1">{{'bank.account.paylist.opt1'|translate}}</option>
        </select>
    </div>
    <div class="pull-right m-r-sm headpadd">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
</div>

<div>
    <div class="panel panel-default">
        <div class="line b-b" style="margin: 0"></div>
        <div class="panel-body">
            <div ng-style="{height:app.navHeight-165+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
        </div>
    </div>
</div>