<div class="bg-light lter b-b wrapper">
    <div class="pull-right">
        <form>
            <div class="input-group m-r-sm">
                <input type="text" ng-model="search" class="form-control input-sm bg-light no-border rounded padder" placeholder="搜索 账号/昵称/手机号">
              <span class="input-group-btn" style="width: auto">
                <button type="submit" class="btn btn-sm bg-light rounded" ng-click="onPageSizeChanged()"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
    </div>
    <div class="pull-right m-r-sm">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>

    <h1 class="m-n font-thin h3">预授权列表</h1>
</div>
<div>
    <div class="panel panel-default">
        <div class="line b-b" style="margin: 0"></div>
        <div class="panel-body">
            <div ng-style="{height:app.navHeight-145+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
        </div>
    </div>
</div>