<div class="bg-light lter b-b wrapper">
    <h1 class="m-n font-thin h3">{{'bank.bank.npreauth.title'|translate}}</h1>
</div>

<div class="wrapper-md">
    <form name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default col-sm-9 col-md-7">
            <div class="list-group" style="padding:0;">

                <li ui-sref="app.search.user" class="list-group-item" style="padding-right: 10px;">
                    <div class="row">
                        <div class="col-xs-4">
                            {{'bank.bank.npreauth.label1'|translate}}
                        </div>
                        <div class="col-xs-6 text-right">
                            <span ng-if="uid"><span ng-if="nick">{{nick}}</span>(ID: {{uid}})</span>
                        </div>
                        <div class="col-xs-2 text-right" style="padding-right:20px;">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                </li>

                <li class="list-group-item" ng-if="bank.userId">
                    <div class="row">
                        <div class="col-xs-4">
                            <span>{{'bank.bank.npreauth.label2'|translate}}</span>
                        </div>
                        <div class="col-xs-6 pull-right text-right">
                            <span>{{lock||'无'}}</span>
                        </div>
                    </div>
                </li>


                <li class="list-group-item" style="margin:0;">
                    <div class="row" ng-if="isSmartDevice" ng-init="bank.ctCode = 'jb'">
                        <div class="col-xs-4">
                            <span>币种</span>
                        </div>
                        <div class="col-xs-3 pull-right text-right">
                            <span>{{'bank.bank.npreauth.ctOpts.opts2'|translate}}</span>
                        </div>
                    </div>
                    <div class="row" ng-if="!isSmartDevice" style="height: 23px;">
                        <div class="col-xs-4">
                            <span>{{'bank.bank.npreauth.label3'|translate}}</span>
                        </div>
                        <div class="radio text-right" style="padding-top:0;">
                            <label class="i-checks i-checks-sm p-r-lg">
                                <input type="radio" name="ctcode" ng-model="bank.ctCode" value="jb" />
                                <i></i>
                                {{'bank.bank.npreauth.ctOpts.opts2'|translate}}
                            </label>
                            <label class="i-checks i-checks-sm p-r-lg">
                                <input type="radio" name="ctcode" ng-model="bank.ctCode" value="dbj" />
                                <i></i>
                                {{'bank.bank.npreauth.ctOpts.opts3'|translate}}
                            </label>
                            <label class="i-checks i-checks-sm p-r-lg">
                                <input type="radio" name="ctcode" ng-model="bank.ctCode" value="tb" />
                                <i></i>
                                {{'bank.bank.npreauth.ctOpts.opts1'|translate}}
                            </label>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4" style="vertical-align: middle">
                            {{'bank.bank.npreauth.label4'|translate}}
                        </div>
                        <div class="col-xs-2"></div>
                        <div class="col-xs-6 text-right pull-right" style="margin:0;">
                            <!--<input type="checkbox" />-->
                            <label class="i-checks" style="margin:0;padding-left: 0;">
                                <input type="checkbox"  ng-model="bank.allAmount" ng-true-value="1" ng-false-value="0" ng-click="setAll()"><i></i>
                            </label>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-4">
                            {{'bank.bank.npreauth.label5'|translate}}
                        </div>
                        <div class="col-xs-8 text-right">
                            <input type="number" style="width: 130px;border:none;text-align:right;" ng-model="bank.amount" min="1" placeholder="{{'common.amount'|translate}}" ng-pattern="/^[0-9]*$/" ng-required="true">
                        </div>
                    </div>
                </li>

            </div>
            <footer class="panel-footer text-right lter">
                <button type="submit" class="btn btn-success" ng-disabled="formValidate.$invalid" ng-click="npreauth()">{{'bank.bank.npreauth.cancelAuthorization'|translate}}</button>
            </footer>
        </div>
    </form>
</div>