<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3">{{'bank.bank.owndeal.title'|translate}}</h1></div>
<div>
    <div class="pull-right m-r-md headpadd">
        <div class="input-group" style="width: 185px;">
            <input date-range-picker type="text" class="form-control" ng-model="search.date" options="dateOptions" placeholder="{{ 'common.timePlaceholder' | translate }}" style="position: relative;height: 30px"/>
            <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;right: 8px;top:8px;z-index:999;cursor: pointer;" onclick="$(this).parent().find('input').click();"></i>
        </div>
    </div>
    <div class="pull-right m-r-md headpadd" ng-if="!isSmartDevice">
        <select class="input-sm form-control" ng-model="$parent.pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
</div>

<div style="margin: 0 10px 5px;position: relative;clear:both;">
    <div class="table-responsive mobiletable" ng-style="tablestyle">
        <!--loading-->
        <div ng-if="moreLoading">
            <div style="position:fixed;z-index:1;width:100%;height:100%; background:#eeeeee;opacity: 0.5;"></div>
            <div ng-if="!isSmartDevice"  style="position:absolute;z-index: 2;left: 0;right: 0;top: 49%;bottom: 0;margin:auto;">
                <div class="text-center"><img width="30px" src="./apps/common/img/loading.gif"></div>
            </div>
            <div ng-if="isSmartDevice"  style="position:fixed;z-index: 2;left: 50%;top: 50%;transform: translate(-50%, -50%)">
                <div class="text-center"><img width="30px" src="./apps/common/img/loading.gif"></div>
            </div>
        </div>
        <!--no data-->
        <div class="text-center" ng-if="nodata&&!isSmartDevice" style="position:absolute;z-index: 2;left: 0;right: 0;top: 49%;bottom: 0;margin:auto;">
            <span style="border: 1px solid  #aaaaaa;padding: 5px;border-radius: 10px;">{{'ag-grid.noRowsToShow'|translate}}</span>
        </div>
        <div class="text-center" ng-if="nodata&&isSmartDevice" style="position:fixed;z-index: 2;left: 50%;top: 50%;transform: translate(-50%, -50%)">
            <span style="border: 1px solid  #aaaaaa;padding: 5px;border-radius: 10px;">{{'ag-grid.noRowsToShow'|translate}}</span>
        </div>
        <!--table-->
        <table class="table table-striped table-bordered"  >
            <thead class="thead bg-white">
            <tr class="thr">
                <th class="thh">{{'bank.bank.owndeal.header.userId'|translate}}</th>
                <th class="thh">{{'bank.bank.owndeal.header.user'|translate}}</th>
                <th class="thh">{{'bank.bank.owndeal.header.ctName'|translate}}</th>
                <th class="thh">{{'bank.bank.owndeal.header.flag'|translate}}</th>
                <th class="thh">{{'bank.bank.owndeal.header.amount'|translate}}</th>
                <th class="thh">{{'bank.bank.owndeal.header.createdAt'|translate}}</th>
            </tr>
            </thead>
            <tbody class="tbody" >
            <tr ng-repeat="row in deallist" class="active tbr">
                <td class="tbd" data-title="{{'bank.bank.owndeal.header.userId'|translate}}" style="height: 2.8em">{{row.fromAccountId || row.toAccountId || ""}}</td>
                <td class="tbd" data-title="{{'bank.bank.owndeal.header.user'|translate}}" style="height: 2.8em">{{row.fromUserName || row.toUserName || ""}}</td>
                <td class="tbd" data-title="{{'bank.bank.owndeal.header.ctName'|translate}}" style="height: 2.8em">{{row.ctCode == 'jb' ? ('bank.account.paylist.jb'|translate) : (row.ctCode == 'tb' ? ('bank.account.paylist.tb'|translate) : ('bank.account.paylist.dbj'|translate) ) || ""}}</td>
                <td class="tbd" data-title="{{'bank.bank.owndeal.header.flag'|translate}}" style="height: 2.8em">{{row.flag == 0 ? ('bank.bank.deal.income'|translate):('bank.bank.deal.expenditure'|translate) }}</td>
                <td class="tbd" data-title="{{'bank.bank.owndeal.header.amount'|translate}}" style="height: 2.8em">{{row.amount}}</td>
                <td class="tbd" data-title="{{'bank.bank.owndeal.header.createdAt'|translate}}" style="height: 2.8em">{{row.createdAt | date:'yyyy-MM-dd hh:mm:ss'}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <!--ng-if="!isSmartDevice"-->
    <div ng-if="!moreLoading&&!isSmartDevice" style="margin:0 auto;margin-top:30px;">
        <div class="text-center">
            <div class="pull-left m-l-md">{{((page>0?(page-1):page)*(pageSize||20)+1)||0}} - {{(page*(pageSize||20) < total)?(page*(pageSize||20)):total||0}} / {{totalnumber||0}}</div>
            <button class="btn btn-default btn-sm" ng-click="getdata(1)" ng-disabled="page==1">{{'ag-grid.first'|translate}}</button>
            <button class="btn btn-default btn-sm" ng-click="left()" ng-disabled="page==1">{{'ag-grid.previous'|translate}}</button>
            <span>{{page}}/{{pages}}</span>
            <button class="btn btn-default btn-sm" ng-click="right()" ng-disabled="page==pages">{{'ag-grid.next'|translate}}</button>
            <button class="btn btn-default btn-sm" ng-click="getdata(pages)" ng-disabled="page==pages">{{'ag-grid.last'|translate}}</button>
        </div>
    </div>
    <div class="text-center" ng-if="!moreLoading&&!nodata&&isSmartDevice">
        <button class="btn btn-default btn-sm" ng-click="getdata(1)" ng-disabled="page==1">{{'ag-grid.first'|translate}}</button>
        <button class="btn btn-default btn-sm" ng-click="left()" ng-disabled="page==1">{{'ag-grid.previous'|translate}}</button>
        <span>{{page}}/{{pages}}</span>
        <button class="btn btn-default btn-sm" ng-click="right()" ng-disabled="page==pages">{{'ag-grid.next'|translate}}</button>
        <button class="btn btn-default btn-sm" ng-click="getdata(pages)" ng-disabled="page==pages">{{'ag-grid.last'|translate}}</button>
    </div>
</div>