<div class="hbox hbox-auto-xs hbox-auto-sm" style="min-height:700px;overflow-y:auto;max-height:710px;">
    <div class="col w-lg lter b-r">
        <div class="vbox" style="overflow-y:auto;max-height:510px;">
            <div class="wrapper-sm b-b">
                <div class="pull-right">
                    <a href class="btn btn-sm btn-info m-t-n-xs" ng-init="ebtnname='新增'" ng-click="change(0)">
                        {{ebtnname}}
                    </a>
                </div>
                <div class="h4">{{'bank.currency.rate.currency'|translate}}</div>
            </div>
            <div ng-if="!isCollapsed" class="panel-body bg-white-only">
                <form name="formValidate" class="form-horizontal form-validation">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{'bank.currency.rate.coding'|translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="{{'bank.currency.rate.coding'|translate}}(a-z|A-Z字符)" ng-model="currency.code" ng-pattern="/^[a-z|A-Z]*$/" ng-required="true">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">{{'bank.currency.rate.name'|translate}}</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="{{'bank.currency.rate.name'|translate}}" ng-model="currency.title"  ng-required="true">
                        </div>
                    </div>
                    <footer class="text-right">
                        <button class="btn btn-info" ng-click="!formValidate.$invalid&&enter()">{{'common.confirm'|translate}}</button>
                    </footer>
                </form>
            </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="list-group no-radius no-border no-bg m-b-none">
                            <p ng-show="!currencys.length&&isCollapsed" style="text-align: center">{{'bank.currency.rate.noData'|translate}}</p>
                            <a ng-repeat="currency in currencys" class="list-group-item m-l-none hover-anchor b-a no-select" ng-class="{'focus': currency.selected}" ng-click="selectCurrency(currency)">
                                <span ng-click="deleteCurrency(currency)" class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                                <span class="block m-l">{{ currency.code+' : ' }}{{ currency.title }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col w-lg lter b-r">
        <div class="vbox" style="min-height: 800px">
                <div class="wrapper-sm b-b">
                    <div class="h4">{{'bank.currency.rate.exchangeRate'|translate}}</div>
                </div>
                <div class="panel-body bg-white-only">
                    <form name="formValidate" class="form-horizontal form-validation">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{'bank.currency.rate.moneyExchange'|translate}}</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="curRate.to" ng-options="option.code as option.title for option in currencys" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">{{'bank.currency.rate.proportion'|translate}}</label>
                            <div class="col-sm-9">
                                <input type="number" class="form-control" placeholder="{{'bank.currency.rate.proportion'|translate}}" ng-model="curRate.rate">
                            </div>
                        </div>
                        <footer class="text-right">
                            <button class="btn btn-info" ng-click="!formValidate.$invalid&&add()">{{'bank.currency.rate.saveAdd'|translate}}</button>
                        </footer>
                    </form>
                </div>
            <div class="row-row">
                <div class="cell">
                    <div class="cell-inner">
                        <div class="list-group no-radius no-border no-bg m-b-none" ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-111}}+'px', size:'8px'}">
                            <a ng-repeat="rate in rates" class="list-group-item m-l-none hover-anchor b-a no-select" ng-class="{'focus': rate.selected}" ng-click="selectRate(rate)">
                                <span ng-click="deleteRate(rate)" class="pull-right text-muted hover-action"><i class="fa fa-times"></i></span>
                                <span class="block m-l">{{ rate.fromName+'兑'+rate.toName+'(1:'+rate.rate+')' }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="col">
            <div ui-view></div>
        </div>
</div>
