<div ng-controller="AppManageCtrl" ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-50}}+'px', size:'8px'}">
    <div ui-view class="fade-in-down"></div>
    <div style="margin: 10px;">
        <h1 class="m-n font-thin h3"><a ui-sref="app.rooms.manage">{{ 'appmgr.appList' | translate }}>></a>{{ 'appmgr.appEdit' | translate }}</h1>
    </div>
    <form ng-show="$state.is('app.apps.manage.edit') " name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ 'common.edit' | translate }}</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appId' | translate }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="应用id" ng-model="id">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appPwd' | translate }}<code style="background-color: transparent" ng-disabled="id">*</code></label>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <input type="{{showPwd? 'password' : 'text'}}" class="form-control" placeholder="应用密码" ng-model="appgame.password">
                            <span class="input-group-btn">
                                <!--<button class="btn btn-default" type="button" ng-click="showPassword()">{{pwdText}}</button>-->
                                <button class="btn btn-default" type="button" ng-click="showPassword()">{{pwdText | translate}}</button>
                                <button class="btn btn-default" type="button" ng-click="createPassword()">{{ 'appmgr.appManager.createPwd' | translate }}</button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appName' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{ 'appmgr.appManager.appName' | translate }}" ng-model="appgame.name" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appSort' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="应用排序" ng-model="appgame.sort" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appType' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <select class ="form-control" ng-model="appgame.type" required>
                            <!--<option value="">&#45;&#45;请选择类型&#45;&#45;</option>-->
                            <!--<option value="0">自家产品</option>-->
                            <!--<option value="1">外部url</option>-->
                            <!--<option value="2">外部包名</option>-->
                            <!--<option value="3">第三方</option>-->
                            <option value="">{{ 'appmgr.appManager.typeSelect' | translate }}</option>
                            <option value="0">{{ 'appmgr.appManager.typeSelf' | translate }}</option>
                            <option value="1">{{ 'appmgr.appManager.typeOutsideUrl' | translate }}</option>
                            <option value="2">{{ 'appmgr.appManager.typeOutsidePackage' | translate }}</option>
                            <option value="3">{{ 'appmgr.appManager.typeThirdParty' | translate }}</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appCate' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <select class ="form-control" ng-model="appgame.category" required>
                            <option value="">{{ 'appmgr.appManager.cateType' | translate }}</option>
                            <option ng-repeat="cate in appCategories" value={{cate.value}}>{{cate.name | translate}}</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group" ng-if="appgame.type != '2'">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appPath' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{ 'appmgr.appManager.appPath' | translate }}" ng-model="appgame.path" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group" ng-if="appgame.type == '2'">
                    <label class="col-sm-2 control-label">应用andriod打开包名<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="应用andriod打开包名" ng-model="appgame.path" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group" ng-if="appgame.type == '2'">
                    <label class="col-sm-2 control-label">应用ios打开URLSchemes<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="应用ios打开URLSchemes" ng-model="appgame.URLSchemes" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group" ng-if="appgame.type == '2'">
                    <label class="col-sm-2 control-label">外部包下载地址<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="外部包下载地址" ng-model="appgame.download" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appLogo' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{ 'appmgr.appManager.appLogo' | translate }}" ng-model="appgame.logo" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appParam' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{ 'appmgr.appManager.appParam' | translate }}" ng-model="appgame.params" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appTempl' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="appgame.tmpl" required>
                            <!--<option value="">&#45;&#45;请选择配置模版&#45;&#45;</option>-->
                            <!--<option value="empty">不需要配置模版</option>-->
                            <!--<option value="fish">捕鱼配置模版</option>-->
                            <!--<option value="gamble">压分配置模版</option>-->
                            <!--<option value="baoxiang">宝箱配置模版</option>-->
                            <option value="">{{ 'appmgr.appManager.templSelect' | translate }}</option>
                            <option value="empty">{{ 'appmgr.appManager.templNone' | translate }}</option>
                            <option value="fish">{{ 'appmgr.appManager.templFish' | translate }}</option>
                            <option value="gamble">{{ 'appmgr.appManager.templGamble' | translate }}</option>
                            <option value="baoxiang">{{ 'appmgr.appManager.templBaoxiang' | translate }}</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appSplitRate' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.appManager.appSplitRate' | translate }}" ng-model="appgame.splitRatio" min="0" step="0.001" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appChannelCost' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.appManager.appChannelCost' | translate }}" ng-model="appgame.channelCost" min="0" step="0.001" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appCurrencies' | translate }}</label>
                    <div class="col-sm-9">
                        <tags-input class="bootstrap" ng-model="appgame.currencies" add-on-space="true" add-on-paste="true" placeholder="(jb, tb, dbj)" min-length="1"></tags-input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appStatus' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="radio" value="0" ng-model="appgame.status" checked>
                                <i></i>
                                <!--禁用-->
                                {{ 'common.disable' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="radio" value="1" ng-model="appgame.status">
                                <i></i>
                                <!--启用-->
                                {{ 'common.enable' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="radio" value="2" ng-model="appgame.status">
                                <i></i>
                                <!--接入中-->
                                {{ 'appmgr.access' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="radio" value="3" ng-model="appgame.status">
                                <i></i>
                                <!--审核中-->
                                {{ 'appmgr.review' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appVisible' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-9">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" value="true" ng-model="appgame.visible">
                                <i></i>
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appNetwork' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="radio" value="1" ng-model="appgame.network">
                                <i></i>
                                <!--单机-->
                                {{ 'appmgr.appManager.networkStandAlone' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="radio" value="2" ng-model="appgame.network" checked>
                                <i></i>
                                <!--弱联网-->
                                {{ 'appmgr.appManager.networkWeakNet' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="radio" value="3" ng-model="appgame.network">
                                <i></i>
                                <!--网游-->
                                {{ 'appmgr.appManager.networkOnline' | translate }}
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appPlatforms' | translate }}<code style="background-color: transparent">*</code></label>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" value="1" ng-model="appgame.platform.android" checked>
                                <i></i>
                                android
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" value="2" ng-model="appgame.platform.ios" checked>
                                <i></i>
                                ios
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" value="3" ng-model="appgame.platform.web" checked>
                                <i></i>
                                web
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="checkbox">
                            <label class="i-checks">
                                <input type="checkbox" value="4" ng-model="appgame.platform.windows" checked>
                                <i></i>
                                windows
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appTags' | translate }}</label>
                    <div class="col-sm-9">
                        <tags-input class="bootstrap" ng-model="appgame.tags" add-on-space="true" add-on-paste="true" placeholder="" min-length="1"></tags-input>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appIntro' | translate }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{ 'appmgr.appManager.appIntro' | translate }}" ng-model="appgame.introduction">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appIntro' | translate }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{ 'appmgr.appManager.appIntro' | translate }}" ng-model="appgame.summary">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appIcon' | translate }}</label>
                    <div class="col-sm-9">
                        <a ui-sref=".icon"><img width="200" height="200" src="{{appgame.icon}}" onerror="this.src='apps/common/img/avatar.jpg'"/></a>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appPackage' | translate }}</label>
                    <div class="col-sm-9">
                        <div class="fileUpload btn m-b-xs btn-sm btn-primary btn-addon"><i class="fa fa-folder"></i>
                            <span>{{ 'appmgr.appManager.appUpload' | translate }}</span>
                            <input type="file" class="upload" nv-file-select="" ui-filereader uploader="uploader"/>
                        </div>
                        <span>{{uploaderStatus}}</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appVersion' | translate }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{ 'appmgr.appManager.appVersion' | translate }}" ng-model="appgame.version">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.appManager.appRemark' | translate }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" placeholder="{{ 'appmgr.appManager.appRemark' | translate }}" ng-model="appgame.remark">
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <!-- 加载编辑器的容器 -->
            <footer class="panel-footer text-right bg-light lter">
                <button type="submit" class="btn btn-success" ng-click="!formValidate.$invalid&&save()">{{ 'common.save' | translate }}</button>
            </footer>
        </div>
    </form>

</div>
