<div>
    <div ui-view class="fade-in-down"></div>
    <div style="margin: 10px;">
        <h1 class="m-n font-thin h3"><a ui-sref="app.rooms.manage">{{ "appmgr.appList" | translate }}>></a><a ng-click="goBaoxiangList()">{{ "appmgr.baoxiangList" | translate }}>></a>{{ "appmgr.baoxiangConfig" | translate }}</h1>
    </div>
    <form ng-show="$state.is('app.rooms.manage.baoxiang.edit') " name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>{{ "appmgr.edit" | translate }}</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-1 control-label">{{ "appmgr.baoxiangType" | translate }}</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" placeholder="(a-z|A-Z|0-9)" ng-model="boxType" ng-pattern="/^[a-z|A-Z|0-9]*$/" ng-disabled="id" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">{{ "appmgr.cost" | translate }}</label>
                    <button type="button" class="btn btn-info col-sm-1" ng-click="addCost()">{{ "common.add" | translate }}</button>
                </div>
                <div class="form-group" ng-repeat="boxIn in box.in">
                    <label class="col-sm-1 control-label">{{ "appmgr.type" | translate }}</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" placeholder="类型" ng-model="boxIn.ctCode">
                    </div>
                    <label class="col-sm-1 control-label">{{ "appmgr.number" | translate }}</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" placeholder="数量" ng-model="boxIn.amount">
                    </div>
                    <button type="button" class="btn btn-info col-sm-1" ng-click="delCost($index)">{{ "common.delete" | translate }}</button>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label">{{ "appmgr.award" | translate }}</label>
                    <button type="button" class="btn btn-info col-sm-1" ng-click="addAward()">{{ "common.add" | translate }}</button>
                </div>
                <div class="form-group" ng-repeat="boxOut in box.out">
                    <label class="col-sm-1 control-label">{{ "appmgr.type" | translate }}</label>
                    <div class="col-sm-1">
                        <input type="text" class="form-control" placeholder="类型" ng-model="boxOut.ctCode">
                    </div>
                    <label class="col-sm-1 control-label">{{ "appmgr.max" | translate }}</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" placeholder="最大" ng-model="boxOut.max">
                    </div>
                    <label class="col-sm-1 control-label">{{ "appmgr.min" | translate }}</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" placeholder="最小" ng-model="boxOut.min">
                    </div>
                    <label class="col-sm-1 control-label">{{ "appmgr.middle" | translate }}</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" placeholder="中间" ng-model="boxOut.mid">
                    </div>
                    <label class="col-sm-1 control-label">{{ "appmgr.odds" | translate }}</label>
                    <div class="col-sm-1">
                        <input type="number" class="form-control" placeholder="概率" ng-model="boxOut.odds">
                    </div>
                    <button type="button" class="btn btn-info col-sm-1" ng-click="delAward($index)">{{ "common.delete" | translate }}</button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">{{ "appmgr.baoxiangIntro" | translate }}</label>
                <div class="col-sm-8">
                    <textarea class="form-control" ng-model="box.introduce" placeholder="宝箱说明"></textarea>
                </div>
            </div>


            <!-- 加载编辑器的容器 -->
            <footer class="panel-footer text-right bg-light lter">
                <button type="submit" class="btn btn-success" ng-click="!formValidate.$invalid&&save()">{{ "common.save" | translate }}</button>
            </footer>
        </div>
    </form>

</div>

