<div ng-controller="GambleEditCtrl">
    <div ui-view class="fade-in-down"></div>
    <form ng-show="$state.is('app.rooms.manage.gameset.edit') && tabPageShow" name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading" id="baseConfigs">
                <strong>{{ 'appmgr.room.roomConfig' | translate }}</strong>
            </div>
            <div class="panel-body paddingtop">
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.roomType' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="(a-z|A-Z|0-9)" ng-model="room.roomType" ng-pattern="/^[a-z|A-Z|0-9]*$/" ng-disabled="id" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.roomName' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="{{ 'appmgr.room.roomName' | translate }}" ng-model="room.name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.roomIntro' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="{{ 'appmgr.room.roomIntro' | translate }}" ng-model="room.intro">
                    </div>
                </div>
                <div ng-show="isFromAppManager" class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.algStartTableNum' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.algStartTableNum' | translate }}" ng-model="room.startAreaId" min="0" required>
                    </div>
                </div>
                <div ng-show="isFromAppManager" class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.tableNum' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.tableNum' | translate }}" ng-model="room.maxAreas" min="0" required>
                    </div>
                    <div class="col-sm-8" style="padding-top: 7px">
                        ({{ 'appmgr.room.tableNumRemark' | translate }})
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.roomDiff' | translate }}</label>
                    <!--<div class="col-sm-2">-->
                    <!--<select class="form-control m-b" ng-model="room.diff">-->
                    <!--<option value="0">炒场</option>-->
                    <!--<option value="1">最容易</option>-->
                    <!--<option value="2">容易</option>-->
                    <!--<option value="3">难</option>-->
                    <!--<option value="4">最难</option>-->
                    <!--<option value="5">死难</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="{{ 'appmgr.room.roomDiff' | translate }}" ng-model="room.diff" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.roomRate' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.roomRate' | translate }}" ng-model="room.areaRate" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.tablePlayerLimit' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.tablePlayerLimit' | translate }}" ng-model="room.maxPlayers" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.maxCarry' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.maxCarry' | translate }}" ng-model="room.maxAmount" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.minCarry' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.minCarry' | translate }}" ng-model="room.minAmount" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.setup' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.setup' | translate }}" ng-model="room.exchangeAmount" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.currencyScore' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.currencyScore' | translate }}" ng-model="room.exchangeRate" min="0" step="0.01" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.onlineNum' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.onlineNum' | translate }}" ng-model="room.virtualOnlineCount" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.rateShift' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" placeholder="{{ 'appmgr.room.rateShift' | translate }}" ng-model="room.rates" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.roomMode' | translate }}</label>
                    <div class="col-sm-2">
                        <select class="form-control m-b" ng-model="room.mode">
                            <option value="0">{{ 'appmgr.room.modeGold' | translate }}</option>
                            <option value="1">{{ 'appmgr.room.modeGoldLottery' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" ng-if="room.mode == 1">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.lotteryModeGoldOdds' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.lotteryModeGoldOdds' | translate }}" ng-model="room.oddsCredit" min="0" required>
                    </div>
                </div>
                <div class="form-group" ng-if="room.mode == 1">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.lotteryModeCurrency' | translate }}</label>
                    <div class="col-sm-2">
                        <select class="form-control m-b" ng-model="room.ctCodeTicket">
                            <option value="dbj">{{ 'common.dbj' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.roomCurrency' | translate }}</label>
                    <div class="col-sm-2">
                        <select class="form-control m-b" ng-model="room.ctCode">
                            <option value="jb">{{ 'common.jb' | translate }}</option>
                            <option value="tb">{{ 'common.tb' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.channelIsolation' | translate }}</label>
                    <div class="col-sm-2">
                        <select class="form-control m-b" ng-model="room.agentIsolate">
                            <option value="1">{{ 'common.yes' | translate }}</option>
                            <option value="0">{{ 'common.no' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.autoSeat' | translate }}</label>
                    <div class="col-sm-2">
                        <select class="form-control m-b" ng-model="room.autoSeat">
                            <option value="1">{{ 'common.yes' | translate }}</option>
                            <option value="0">{{ 'common.no' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.freeField' | translate }}</label>
                    <div class="col-sm-2">
                        <select class="form-control m-b" ng-model="room.free">
                            <option value="1">{{ 'common.yes' | translate }}</option>
                            <option value="0">{{ 'common.no' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'common.enable' | translate }}</label>
                    <div class="col-sm-2">
                        <select class="form-control m-b" ng-model="room.status">
                            <option value="1">{{ 'common.yes' | translate }}</option>
                            <option value="0">{{ 'common.no' | translate }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'common.visible' | translate }}</label>
                    <div class="col-sm-2">
                        <select class="form-control m-b" ng-model="room.visible">
                            <option value="1">{{ 'common.yes' | translate }}</option>
                            <option value="0">{{ 'common.no' | translate }}</option>
                        </select>
                    </div>
                </div>

                <div class="line line-dashed b-b line-lg pull-in" id="gameConfigs"></div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.kickOut' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.kickOut' | translate }}" ng-model="room.absenceNum" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.betTime' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.betTime' | translate }}" ng-model="room.betTime" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.betLowLimit' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="普通门压分下限" ng-model="room.betLowLimit" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.betLowLimitZhuang' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="压分下限:装" ng-model="room.betLowLimitZhuang" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.betLowLimitHe' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="压分下限:和" ng-model="room.betLowLimitHe" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.betLowLimitXian' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="压分下限:闲" ng-model="room.betLowLimitXian" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.zhuang' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.zhuang' | translate }}" ng-model="room.perLimit[12]" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.he' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.he' | translate }}" ng-model="room.perLimit[13]" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.xian' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.xian' | translate }}" ng-model="room.perLimit[14]" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.redKylin' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.redKylin' | translate }}" ng-model="room.perLimit[0]" min="0" required>
                    </div>
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.redDragon' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.redDragon' | translate }}" ng-model="room.perLimit[3]" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.redMermaid' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.redMermaid' | translate }}" ng-model="room.perLimit[6]" min="0" required>
                    </div>
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.redDevilRay' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.redDevilRay' | translate }}" ng-model="room.perLimit[9]" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.greenKylin' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.greenKylin' | translate }}" ng-model="room.perLimit[1]" min="0" required>
                    </div>
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.greenDragon' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.greenDragon' | translate }}" ng-model="room.perLimit[4]" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.greenMermaid' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.greenMermaid' | translate }}" ng-model="room.perLimit[7]" min="0" required>
                    </div>
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.greenDevilRay' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.greenDevilRay' | translate }}" ng-model="room.perLimit[10]" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.yellowKylin' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.yellowKylin' | translate }}" ng-model="room.perLimit[2]" min="0" required>
                    </div>
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.yellowDragon' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.yellowDragon' | translate }}" ng-model="room.perLimit[5]" min="0" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.yellowMermaid' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.yellowMermaid' | translate }}" ng-model="room.perLimit[8]" min="0" required>
                    </div>
                    <label class="col-sm-2 control-label">{{ 'appmgr.room.yellowDevilRay' | translate }}</label>
                    <div class="col-sm-2">
                        <input type="number" class="form-control" placeholder="{{ 'appmgr.room.yellowDevilRay' | translate }}" ng-model="room.perLimit[11]" min="0" required>
                    </div>
                </div>
            </div>
            <!-- 加载编辑器的容器 -->
            <footer class="panel-footer bg-light lter">
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-1">
                        <button type="submit" class="btn btn-success" ng-click="checkRates(room.rates) && !formValidate.$invalid&&save()">{{ 'common.save' | translate }}</button>
                    </div>
                    <div class="col-sm-1">
                        <button type="button" class="btn btn-info" ng-click="recovery()">{{ 'common.recovery' | translate }}</button>
                    </div>
                </div>
            </footer>
        </div>
    </form>

</div>