/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    .mobiletable, .mobiletable thead, .mobiletable tbody, .mobiletable th, .mobiletable td, .mobiletable tr{
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .mobiletable thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .mobiletable tbody tr, .mobiletable thead tr {
        border: 1px solid #ccc;
        margin-bottom:3px;
    }
    .mobiletable td{
        height: 2.7em;
    }
    .mobiletable td:before {
        /* Now like a table header */
        width: 50%;
        white-space: nowrap;
        float: left;
    }
    /*
    Label the data
    */
    .mobiletable td:before { content: attr(data-title); }
}
