.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.titlefixed{
    width:100%;
    position: fixed;
    z-index: 3;
    top:50px;
}
.paddingtop{
    padding-top: 50px;
}
.background:hover{
    background: #EDF1F2;
}
.bottomborder{
    border-bottom: 1px solid #E4EAEC;
    padding-bottom: 2px;
}
.color:hover{
    color:#1993B9;
}
.headpadd{
    padding: 5px 0 3px 0;
}
.buttonpadd{
    padding-right: 1em;
}
.p-b-sm{
    padding-bottom: 5px
}
.p-b-md{
    padding-bottom: 10px
}
.p-b-lg{
    padding-bottom: 15px
}