.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.titlefixed{
    width:100%;
    position: fixed;
    z-index: 1; top:50px;
}
.paddingtop{
    padding-top: 50px;
}