<div>
    <form name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading titlefixed">
                <strong translate="agent.agent.create.AgentCreate">渠道创建</strong>
            </div>
            <div class="panel-body paddingtop">
                <div class="form-group" ng-if="!super">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.RemainingCreationQuantity">剩余创建数量</label>
                    <div class="col-lg-10 w-auto">
                        <p class="form-control-static">{{limit?limit:'无限制'}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.AgentLevel">渠道级别</label>
                    <div class="col-lg-10 w-auto">
                        <p class="form-control-static">{{agentLevel}}{{ 'agent.agent.create.list.level' | translate }}</p>
                    </div>
                </div>

                <div class="form-group" ng-if="!agent.userId">
                    <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code><label translate="agent.agent.create.AccountNumber">账号</label></label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control w-sm" placeholder="{{ 'agent.agent.create.AccountNumber' | translate }}" ng-model="agent.account" ng-blur="onBlur('account')" ng-required="true">
                        <span style="color: red" ng-if="checkInput.account" translate="agent.agent.create.AccountAlreadyExists">账号已在</span>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group" ng-if="!agent.userId">
                    <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code><label translate="agent.agent.create.password">密码</label></label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control w-sm" placeholder="{{ 'agent.agent.create.password' | translate }}" ng-model="agent.passwd" ng-required="true">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <!--<div class="form-group" ng-if="!agent.account&&!agent.passwd">-->
                <!--<label class="col-sm-2 control-label"><code style="background-color: transparent">*</code>用户ID</label>-->

                <!--<div class="col-sm-5">-->
                <!--<div class="input-group">-->
                <!--<input type="text" class="form-control" placeholder="用户ID" ng-model="agent.userId" ng-required="true">-->
                <!--<div class="input-group-btn dropdown" drop-down-table>-->
                <!--<div type="button" class="btn btn-default" ng-bind="agent.nick||'用户名'"></div><div type="button" class="btn btn-default">搜索 <span class="caret"></span></div>-->
                <!--<ul class="dropdown-menu pull-right w-xxl">-->
                <!--<div class="input-group">-->
                <!--<input type="text" class="form-control input-sm btn-rounded" placeholder="搜索用户名" ng-model="keyword">-->
                <!--<span class="input-group-btn">-->
                <!--<span class="btn btn-default btn-sm btn-rounded" ng-click="searchUser(keyword)"><i class="fa fa-search"></i></span>-->
                <!--</span>-->
                <!--</div>-->
                <!--<table st-table="rowCollectionBasic" class="table table-bordered table-striped">-->
                <!--<thead>-->
                <!--<tr>-->
                <!--<th>用户ObjectID</th>-->
                <!--<th>用户ID</th>-->
                <!--<th>用户名</th>-->
                <!--</tr>-->
                <!--</thead>-->
                <!--<tbody>-->
                <!--<tr ng-repeat="row in usersInfo.rows" ng-click="selectUser($event)" st-select-mode="single">-->
                <!--<td>{{row._id}}</td>-->
                <!--<td>{{row.uid}}</td>-->
                <!--<td>{{row.nick}}</td>-->
                <!--</tr>-->
                <!--</tbody>-->
                <!--</table>-->
                <!--</ul>-->
                <!--</div>&lt;!&ndash; /btn-group &ndash;&gt;-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="col-sm-1"></div>-->
                <!--</div>-->

                <div class="form-group">
                    <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code><label translate="agent.agent.create.AgentName">渠道名</label></label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control w-sm" placeholder="{{ 'agent.agent.create.AgentName' | translate }}" ng-model="agent.name" ng-required="true">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group" ng-if="super||per.edit1">
                    <label class="col-sm-2 control-label"><code style="background-color: transparent">*</code><label translate="agent.agent.create.CooperationMode">合作方式</label></label>
                    <div class="col-sm-9 w-auto">
                        <select class="form-control w-sm" ng-model="agent.type" ng-required="super||per.edit1">
                            <option value="" translate="agent.agent.create.PleaseChooseCooperationMode">请选合作方式</option>
                            <option value="1" translate="agent.agent.create.cooperation">合作</option>
                            <option value="2" translate="agent.agent.create.buyout">买断</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.ApplicantName">申请人姓名</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control w-sm" placeholder="{{ 'agent.agent.create.ApplicantName' | translate }}" ng-model="agent.realName">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.tel">手机号</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control w-sm" placeholder="{{ 'agent.agent.create.tel' | translate }}" maxlength="11" ng-pattern="/([0-9]{11})$/" ng-model="agent.mobile">
                        <!--<span style="color: red" ng-if="checkInput.mobile">手机号已在</span>-->
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group" ng-if="super">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.PromotionCap">推广上限</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control w-sm" placeholder="{{ 'agent.agent.create.number' | translate }}" min="0" ng-pattern="/([0-9])$/" ng-model="agent.limit">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.QQ">QQ号</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control w-sm" placeholder="{{ 'agent.agent.create.QQ' | translate }}" ng-model="agent.qq">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.mail">邮箱</label>

                    <div class="col-sm-9">
                        <input type="email" class="form-control w-sm" placeholder="{{ 'agent.agent.create.mail' | translate }}" ng-model="agent.email">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.BankAccountName">银行账号名</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control w-sm" placeholder="{{ 'agent.agent.create.BankAccountName' | translate }}" ng-model="agent.bankInfo.account">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.bank">银行</label>

                    <div class="col-sm-9">
                        <select class="form-control w-sm" ng-model="agent.bankInfo.bank">
                            <option value="" translate="agent.agent.create.PleaseChooseTheBank">请选银行</option>
                            <option value="中国银行">中国银行</option>
                            <option value="中国工商银行">中国工商银行</option>
                            <option value="中国建设银行">中国建设银行</option>
                            <option value="中国农业银行">中国农业银行</option>
                            <option value="中国交通银行">中国交通银行</option>
                            <option value="中国邮政银行">中国邮政银行</option>
                            <option value="中国招商银行">中国招商银行</option>
                            <option value="中国兴业银行">中国兴业银行</option>
                            <option value="中国中信银行">中国中信银行</option>
                            <option value="中国光大银行">中国光大银行</option>
                            <option value="中国民生银行">中国民生银行</option>
                            <option value="中国广发银行">中国广发银行</option>
                            <option value="中国华夏银行">中国华夏银行</option>
                            <option value="中国浦发银行">中国浦发银行</option>
                            <option value="深圳发展银行">深圳发展银行</option>
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.BranchAccount">开户支行</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control w-sm" placeholder="{{ 'agent.agent.create.BranchAccount' | translate }}" ng-model="agent.bankInfo.subbranch">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.BankCardNumber">银行卡号</label>

                    <div class="col-sm-9">
                        <input type="text" class="form-control w-sm" placeholder="{{ 'agent.agent.create.BankCardNumber' | translate }}" ng-model="agent.bankInfo.card">
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.label">标签</label>
                    <div class="col-sm-4">
                        <tags-input class="bootstrap" ng-model="agent.tags" add-on-space="true" add-on-paste="true" placeholder="{{ 'common.addTag' | translate }}" min-length="1"></tags-input>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.agent.create.remarks">备注</label>

                    <div class="col-sm-5">
                        <textarea class="form-control" rows="4" style="resize: none;" placeholder="" ng-model="agent.memo"></textarea>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
            </div>
            <footer class="panel-footer text-right bg-light lter" style="height: 100px">
                <div style="max-width: 750px">
                    <input type="button" class="btn btn-success" ng-click="!formValidate.$invalid&&create()" value="{{ 'agent.agent.create.SubmitAudit' | translate }}"/>
                    <!--<button type="submit" class="btn btn-success" ng-click="!formValidate.$invalid&&create()" ng-if="super||per['创建']" translate="agent.agent.create.SubmitAudit">提交审核</button>-->
                </div>
            </footer>
        </div>
    </form>

</div>