<div class="bg-light lter b-b wrapper">
    <div class="pull-right m-r-sm">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
    <h1 class="m-n font-thin h3" translate="app.agentdata.analysis">数据分析</h1>
</div>
<div>
    <div class="pull-left m-l-sm headpadd">
        <div class="input-group m-r-sm" style="width: 185px;">
            <input date-range-picker type="text" class="form-control" ng-model="search.date" options="dateOptions" placeholder="{{ 'common.times' | translate }}" style="position: relative;height: 30px"/>
            <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;right: 8px;top:8px;z-index:1000;cursor: pointer;" onclick="$(this).parent().find('input').click();"></i>
        </div>
    </div>
    <div class="pull-left m-l-sm headpadd">
        <form>
            <div class="input-group m-r-sm w-lg">
                <input type="text" ng-model="search.keyword" class="form-control input-sm bg-light no-border rounded padder" placeholder="{{ 'common.searchUser' | translate }}">
                <span class="input-group-btn" style="width: auto">
                    <button type="submit" class="btn btn-sm bg-light rounded" ng-click="onPageSizeChanged()"><i class="fa fa-search"></i></button>
                  </span>
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default">
    <div class="line b-b" style="margin: 0"></div>
    <div class="panel-body">
        <div ng-style="{height:app.navHeight-200+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
    </div>
</div>