<div ui-jq="slimScroll" ui-refresh="app.navHeight" ui-options="{height:{{app.navHeight-51}}+'px', size:'8px'}">
    <form name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong><!--推广信息-->{{'agent.message.title'|translate}}</strong>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-sm-2 control-label">{{'agent.message.title'|translate}}</label>

                    <div class="col-sm-9">
                        <textarea class="form-control" style="max-width: 320px; resize: none;" rows="4"  placeholder="" ng-model="agent.memo"></textarea>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

            </div>
            <footer class="panel-footer text-right bg-light lter">
                <div style="max-width: 700px">
                    <button type="submit" class="btn btn-success" ng-click="!formValidate.$invalid&&save()">{{'common.save'|translate}}</button>
                </div>
            </footer>
        </div>
    </form>

</div>
