<div class="bg-light lter b-b wrapper">
    <!--<div class="pull-right">-->
    <!--<div class="input-group m-r-sm">-->
    <!--<input type="text" ng-model="search.agent" class="form-control input-sm bg-light no-border rounded padder" placeholder="搜索 代理ID/名称">-->
    <!--<span class="input-group-btn" style="width: auto">-->
    <!--<button type="submit" class="btn btn-sm bg-light rounded" ng-click="onPageSizeChanged()"><i class="fa fa-search"></i></button>-->
    <!--</span>-->
    <!--</div>-->
    <!--</div>-->
    <div class="pull-right">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
    <h1 class="m-n font-thin h3" translate="agent.agentdata.recharge.title">充值数</h1>
</div>
<div class="panel-body">
    <div class="col-lg-12">
        <div class="pull-left">
            <span translate="agent.agentdata.recharge.code">渠道ID&nbsp;&nbsp;</span>
            <input type="text" placeholder="渠道ID" ng-model="search.agent">
        </div>
        <span class="pull-left" style="margin-top: 3px;margin-left:15px" translate="agent.agentdata.recharge.time">时间段&nbsp;&nbsp;</span>
        <div class="pull-left">
            <div class="input-group" style="width: 205px;">
                <input date-range-picker type="text" class="form-control" ng-model="search.date" options="dateOptions" placeholder="起始时间和结束时间" style="height: 28px"/>
                <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;right: 8px;top:8px;z-index:1000;cursor: pointer;" onclick="$(this).parent().find('input').click();"></i>
            </div>
        </div>

        <div class="pull-left m-l-xs">
            <span class="btn btn-sm btn-default" ng-click="searchFun()" style="margin-top:-2px;" translate="agent.agentdata.recharge.search">搜索</span>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="line b-b" style="margin: 0"></div>
    <div class="panel-body">
        <div ng-style="{height:app.navHeight-205+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
    </div>
</div>