<div class="bg-light lter b-b wrapper">
    <div class="pull-right m-r-sm">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
    <h1 class="m-n font-thin h3" translate="app.coin.record.agentStat">渠道帐号统计</h1>
</div>
<div class="panel-body">
    <div class="col-lg-12 m-b-xs">
        <select class="pull-left" style="height: 28px;" ng-model="search.statType">
            <option value="" translate="agent.coin.record.agentStat.type">统计类型</option>
            <option value="0" translate="agent.coin.record.agentStat.day">按天统计</option>
            <option value="1" translate="agent.coin.record.agentStat.month">按月统计</option>
            <option value="2" translate="agent.coin.record.agentStat.year">按年统计</option>
        </select>
        <span class="pull-left" style="margin-top: 3px;margin-left: 10px" translate="agent.coin.record.agentStat.time">操作时间&nbsp;&nbsp;</span>
        <div class="input-group" style="width: 205px;">
            <input date-range-picker type="text" class="form-control" ng-model="search.date" options="dateOptions" placeholder="起始时间和结束时间" style="height: 28px"/>
            <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;right: 8px;top:8px;z-index:9999;cursor: pointer;" onclick="$(this).parent().find('input').click();"></i>
        </div>
    </div>
    <div class="col-lg-12">
        <span translate="agent.coin.record.agentStat.code">渠道ID&nbsp;&nbsp;</span>
        <input type="text" ng-model="search.agent" style="margin-left:4px;" placeholder="渠道ID">
    </div>
    <div class="col-lg-12 marl">
        <button class="btn btn-default" ng-click="searchFun()" translate="agent.coin.record.agentStat.search">搜索</button>
        <button class="btn btn-default" ng-click="resetFun()" translate="agent.coin.record.agentStat.reset">重置</button>
        <button class="btn btn-default" ng-click="onExportExcel()" translate="agent.coin.record.agentStat.export">导出excel</button>
    </div>
</div>


<div class="panel panel-default">
    <div class="line b-b" style="margin: 0"></div>
    <div class="panel-body">
        <div ng-style="{height:app.navHeight-273+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
    </div>
</div>
