<div class="bg-light lter b-b wrapper">
    <div class="pull-right m-r-sm">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()"></select>
    </div>
    <h1 class="m-n font-thin h3" translate="app.coin.stock.order">订单管理</h1>
</div>
<div>
    <div class="pull-left headpadd">
        <div class="pull-left buttonpadd">
            <span class="pull-left"  ng-style="!per['退款']&&{'margin-left': '15px'}" style="margin-top: 3px" translate="agent.coin.stock.order.time">时间段&nbsp;&nbsp;</span>
            <div class="input-group" style="width: 205px;">
                <input date-range-picker type="text" class="form-control" ng-model="search.date" options="dateOptions" placeholder="{{ 'common.times' | translate }}" style="height: 28px"/>
                <i class="glyphicon glyphicon-calendar fa fa-calendar" style="position: absolute;right: 8px;top:8px;z-index:9999;cursor: pointer;" onclick="$(this).parent().find('input').click();"></i>
            </div>
        </div>
        <div class="pull-left m-l-sm buttonpadd" ng-if="super||!per['退款']">
            <span translate="agent.coin.stock.order.code">渠道ID/名称&nbsp;&nbsp;</span>
            <input type="text" placeholder="{{ 'agent.id' | translate }}" ng-model="search.agent">
        </div>
        <div class="pull-left m-l-sm buttonpadd">
            <span translate="agent.coin.stock.order.status">状态&nbsp;&nbsp;</span>
            <select ng-model="search.status" style="height: 26px" ng-model="search.status">
                <option value="" translate="agent.coin.stock.order.selectStatus">请选状态</option>
                <option value="0" translate="agent.coin.stock.order.unpaid">未付款</option>
                <option value="1" translate="agent.coin.stock.order.paid">已付款</option>
                <option value="2" translate="agent.coin.stock.order.arrivalAccount">已到账</option>
                <option value="3" translate="agent.coin.stock.order.alreadyShipped">已发货</option>
                <option value="4" translate="agent.coin.stock.order.applyRefund">申请退款</option>
                <option value="5" translate="agent.coin.stock.order.agreeRefund">同意退款</option>
                <option value="6" translate="agent.coin.stock.order.refunded">已退款</option>
                <option value="7" translate="agent.coin.stock.order.canceled">已取消</option>
                <option value="9" translate="agent.coin.stock.order.obsolete">已作废</option>
            </select>
        </div>
        <div class="pull-left m-l-sm buttonpadd">
            <span translate="agent.coin.stock.order.orderNumber">单号&nbsp;&nbsp;</span>
            <input type="text" placeholder="{{ 'agent.coin.stock.order.orderNumber' | translate }}" ng-model="search.code">
        </div>
    </div>

    <div class="m-l-sm pull-left headpadd">
        <span class="m-r-sm  headpadd buttonpadd">
            <button class="btn btn-default btn-sm buttonpadd" ng-click="updateStatus(2)" ng-if="super||per['已到账']">{{ 'agent.coin.stock.order.arrivalAccount' | translate }}</button>
            <button class="btn btn-default btn-sm" ng-click="updateStatus(3)" ng-if="super||per['批准发放']">{{ 'agent.coin.stock.order.approvedPayment' | translate }}</button>
            <button class="btn btn-default btn-sm" ng-click="updateStatus(4)" ng-if="super||per['退款']">{{ 'agent.coin.stock.order.refund' | translate }}</button>
            <button class="btn btn-default btn-sm" ng-click="updateStatus(5)" ng-if="super||per['批准退款']">{{ 'agent.coin.stock.order.approvedRefund' | translate }}</button>
            <button class="btn btn-default btn-sm" ng-click="updateStatus(6)" ng-if="super||per['已退款']">{{ 'agent.coin.stock.order.refunded' | translate }}</button>
            <button class="btn btn-default btn-sm" ng-click="updateStatus(8)" ng-if="super||per['作废']">{{ 'common.cancel' | translate }}</button>
        </span>
        <span class="m-r-sm headpadd buttonpadd">
            <button class="btn btn-default btn-sm " ng-click="searchFun()" translate="agent.coin.stock.order.search">搜索</button>
            <button class="btn btn-default btn-sm" ng-click="resetFun()" translate="agent.coin.stock.order.reset">重置</button>
            <button class="btn btn-default btn-sm" ng-click="onExportExcel()" translate="agent.coin.stock.order.export">导出excel</button>
        </span>
    </div>
</div>

<div class="panel panel-default">
    <div class="line b-b" style="margin: 0"></div>
    <div class="panel-body">
        <div ng-style="{height:app.navHeight-200+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
    </div>
</div>