<div class="bg-light lter b-b wrapper"><h1 class="m-n font-thin h3" translate="app.coin.distribute.batch">批量分发</h1></div>
<div class="">
    <div class="pull-left m-l-sm m-t-xs headpadd">
        <strong style="vertical-align:middle">{{ 'agent.coin.distribute.batch.balance' | translate }}：{{(tbAmount||0)+' T币'}}</strong>
    </div>
    <div class="pull-left m-l-sm m-t-xs headpadd">
        <div class="pull-left m-t-xs">
            <span translate="agent.coin.distribute.batch.userName">用户名称&nbsp;&nbsp;</span>
        </div>
        <div class="input-group m-r-sm">
            <input type="text" ng-model="search.user" class="form-control input-sm   rounded padder" placeholder="{{ 'common.searchUser' | translate }}">
              <span class="input-group-btn" style="width: auto">
                <span type="submit" class="btn btn-sm rounded" ng-click="onPageSizeChanged()" style="background-color: #e3e3e3"><i class="fa fa-search"></i></span>
              </span>
        </div>
    </div>
    <div class="pull-left m-l-sm headpadd m-l-md">
        <span translate="agent.coin.distribute.batch.distributeCoin">分发金币&nbsp;&nbsp;</span>
        <input class="w-sm m-t-xs" type="number" min="1" placeholder="{{ 'agent.coin.distribute.batch.distributeCoin' | translate }}" ng-model="jbAmount">
        <input class="w-xs m-t-xs" type="number" min="1" max="10" placeholder="{{ 'agent.coin.distribute.make.rebate' | translate }}" ng-model="rebate">
        <input class="w-xs m-t-xs" type="text" placeholder="{{ 'agent.coin.distribute.make.sAmount' | translate }}" ng-value="tbUseAmount=(jbAmount*(rebate*0.1/rate))" ng-model="tbUseAmount" disabled>
        <span class="btn btn-sm btn-default" ng-disabled="!tbUseAmount" ng-click="tbUseAmount&&recharge()" style="margin-top:-3px;" translate="agent.coin.distribute.batch.determineRecharge">确定充值</span>
    </div>
    <div class="pull-right m-r-sm headpadd">
        <select class="input-sm form-control" ng-model="pageSize" ng-options="o.val as o.val for o in listRowsOptions" ng-change="onPageSizeChanged()">
        </select>
    </div>
</div>

<div class="panel panel-default">
    <div class="line b-b" style="margin: 0"></div>
    <div class="panel-body">
        <div ng-style="{height:app.navHeight-200+'px'}" ag-grid="gridOptions" class="ag-fresh"></div>
    </div>
</div>