<div>
    <form name="formValidate" class="form-horizontal form-validation">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong translate="agent.package.set.title">包设置</strong>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.package.set.agent">渠道</label>
                    <div class="col-sm-9 w-auto">
                        <select class="form-control w-sm" ng-model="agentCode" ng-options="option.code as option.name for option in agents" ng-change="changeAgent()">
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.package.set.code">渠道ID</label>

                    <div class="col-sm-9">
                        <p class="form-control-static">{{agent.code}}</p>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.package.set.cooperationType">合作类型</label>

                    <div class="col-sm-9">
                        <p class="form-control-static">{{agent.type==1?'合作':'买断'}}</p>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" translate="agent.package.set.authApp">授权应用</label>

                    <div class="col-sm-9 w-lg">
                        <select chosen placeholder-text-multiple="'{{ 'agent.package.set.select' | translate }}'" multiple class="w-full" ng-model="agent.apps" ng-options="option._id as option.name for option in apps">
                        </select>
                    </div>
                    <div class="col-sm-1"></div>
                </div>

            </div>
            <footer class="panel-footer text-right bg-light lter">
                <div style="max-width: 700px">
                    <button type="submit" class="btn btn-success" ng-click="save()" translate="agent.package.set.save">保存</button>
                </div>
            </footer>
        </div>
    </form>

</div>